@charset "UTF-8";
@font-face {
  font-family: Mont-Heavy;
  src: url(../font/Mont-Heavy.otf);
}
@font-face {
  font-family: Mont-ExtraLight;
  src: url(../font/Mont-ExtraLight.otf);
}


/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Mont-Heavy;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link,a:visited,a:hover,a:active{
	text-decoration:none;
}
a,button,input[type='submit'],input[type='button'],input[type='reset'] {
	border: 0;
	background: transparent;
	cursor:pointer;
	text-align:center;
}

/*global*/

.hidden {
	visibility: hidden;
}

/*intro*/

#intro {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #fffdfa;
}

#left_wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
}

#right_wave{
	position: absolute;
	top: 0;
	right: 0;
	width: 36%;
}

#center_box {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 100%;
	text-align: center;
	z-index: 100;
}

#center_box a {
	position: relative;
	font-size: 40px;
	color: #013dfd;
	cursor: pointer;
}

#center_box a:before {
	content: "";
	display: inline-block;
	width: 0px;
	height: 16px;
	position: absolute;
	bottom: 21px;
	left: -10px;
	background: #FDB801;
	transition: 0.3s;
	z-index: -1;
}

#center_box a:hover:before {
	width: 145px;
}