@charset "UTF-8";

/*global*/

.all_wrap {
	display: block;
}

.intro {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #0f0b19;
}

.hidden {
	display: none;
}

/*---------*/

.intro_text_box {
	position: absolute;
	top: 50%;
	left: 200px;
	margin-top: -60px;
	z-index: 100;
}

.intro_text_box > div {
	position: relative;
	width: 700px;
	height: 60px;
	overflow: hidden;
}

.intro_text {
	position: absolute;
	left: 0;
	bottom: -60px;
	color: #fff;
	opacity: 0;
	font-size: 45px;
	font-family: PlayfairDisplay-Bold;
}

#constellation_box {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}

/*svg line element*/

.line { stroke: #fff; stroke-width: 1.5; }
.line1 { stroke-dasharray: 100;	stroke-dashoffset: 100; }
.line2 { stroke-dasharray: 110; stroke-dashoffset: 110; }
.line3 { stroke-dasharray: 200;	stroke-dashoffset: 200; }
.line4 { stroke-dasharray: 200;	stroke-dashoffset: 200; }
.line5 { stroke-dasharray: 100;	stroke-dashoffset: 100; }
.line6 { stroke-dasharray: 150;	stroke-dashoffset: 150; }
.line7 { stroke-dasharray: 200;	stroke-dashoffset: 200; }
.line8 { stroke-dasharray: 130;	stroke-dashoffset: 130; }
.line9 { stroke-dasharray: 60; stroke-dashoffset: 60; }
.line10 { stroke-dasharray: 180; stroke-dashoffset: 180; }
.line11 { stroke-dasharray: 100; stroke-dashoffset: 100; }
.line12 { stroke-dasharray: 50; stroke-dashoffset: 50; }
.line13 { stroke-dasharray: 60; stroke-dashoffset: 60; }
.line14 { stroke-dasharray: 60; stroke-dashoffset: 60; }
.line15 { stroke-dasharray: 50; stroke-dashoffset: 50; }
.line16 { stroke-dasharray: 60; stroke-dashoffset: 60; }
.line17 { stroke-dasharray: 80; stroke-dashoffset: 80; }

/*circle, polygon - 로딩 시 opacity 1*/

.display {
	opacity: 0;
	animation: visible 3s forwards;
}

@keyframes visible {
	to { opacity: 1; }
}

/*a link*/

.link {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 4em;
	height: 4.5em;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	color: rgba(255,255,255,0);
	font-size: 1rem;
	font-family: PlayfairDisplay-Italic;
	animation: link 0.5s forwards;
	animation-delay: 1s;
}

@keyframes link {
	to { color: rgba(255,255,255,0.8); }
}

.link:after {
	content: '';
	width: 0.8px;
	height: 0rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: rgba(255,255,255,0.8);
	animation: linkLine 1s forwards;
}

@keyframes linkLine {
	to { height: 2.5rem; }
}

/*meteor animation*/

.meteor {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 200px;
	opacity: 1;
	background: url(../img/meteor.svg) no-repeat center;
	animation: meteor 2s forwards cubic-bezier(.17,.67,.69,.93);
}

@keyframes meteor {
	to { top: 50%; right: 50%; opacity: 0; }
}

.star1 {
	position: absolute;
	top: 30%;
	left: 20%;
	width: 80px;
	height: 80px;
	background: url(../img/star.svg) no-repeat center;
	background-size: 50%;
	opacity: 0.5;
	animation: starshine 2s infinite;
}

@keyframes starshine {
	0% { opacity: 0.5; background-size: 50%; }
	50% { opacity: 1; background-size: 58%;	}
	100% { opacity: 0.5; background-size: 50%; }
}

.star2 {
	position: absolute;
	top: 40%;
	right: 20%;
	width: 80px;
	height: 80px;
	opacity: 0.6;
	background: url(../img/star.svg) no-repeat center;
}

.star3 {
	position: absolute;
	left: 40%;
	bottom: 20%;
	width: 50px;
	height: 50px;
	background: url(../img/star.svg) no-repeat center;
}
