@charset "UTF-8";

/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: PlayfairDisplay-Black;
	font-family: PlayfairDisplay-Regular;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link,a:visited,a:hover,a:active{
	text-decoration:none;
}
a,button,input[type='submit'],input[type='button'],input[type='reset'] {
	border: 0;
	background: transparent;
	cursor:pointer;
	text-align:center;
}

/*global*/

.all_wrap {
	display: block;
}

.intro {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #0f0b19;
}

.hidden {
	display: none;
}
/*/////*/

.intro_text_box {
	position: absolute;
	top: 50%;
	left: 200px;
	margin-top: -60px;
	z-index: 100;
}

.intro_text_box > div {
	position: relative;
	width: 700px;
	height: 60px;
	overflow: hidden;
}

.intro_text {
	position: absolute;
	left: 0;
	bottom: -60px;
	color: #fff;
	opacity: 0;
	font-size: 45px;
	font-family: PlayfairDisplay-Bold;

}

/*svg box 위치*/

#constellation_box {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}

/*svg line element*/

.line {
	stroke: #fff;
	stroke-width: 1.5;
}

.line1 {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}

.line2 {
	stroke-dasharray: 110;
	stroke-dashoffset: 110;
}

.line3 {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

.line4 {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

.line5 {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}

.line6 {
	stroke-dasharray: 150;
	stroke-dashoffset: 150;
}

.line7 {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

.line8 {
	stroke-dasharray: 130;
	stroke-dashoffset: 130;
}

.line9 {
	stroke-dasharray: 60;
	stroke-dashoffset: 60;
}

.line10 {
	stroke-dasharray: 180;
	stroke-dashoffset: 180;
}

.line11 {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}

.line12 {
	stroke-dasharray: 50;
	stroke-dashoffset: 50;
}

.line13 {
	stroke-dasharray: 60;
	stroke-dashoffset: 60;
}

.line14 {
	stroke-dasharray: 60;
	stroke-dashoffset: 60;
}

.line15 {
	stroke-dasharray: 50;
	stroke-dashoffset: 50;
}

.line16 {
	stroke-dasharray: 60;
	stroke-dashoffset: 60;
}

.line17 {
	stroke-dasharray: 80;
	stroke-dashoffset: 80;
}

/*circle, polygon - 로딩 시 opacity 1*/

.display {
	opacity: 0;
	animation: visible 3s forwards;
}

@keyframes visible {
	to {
		opacity: 1;
	}
}

/*a link*/

.link {
	display: block;
	width: 4em;
	height: 4em;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	color: rgba(255,255,255,0);
	font-size: 1em;
	font-family: PlayfairDisplay-Italic;
	animation: link 0.5s forwards;
	animation-delay: 1s;
}

@keyframes link {
	to {
		color: rgba(255,255,255,0.8);
	}
}

.link:after {
	content: '';
	/*display: block;*/
	width: 0.8px;
	height: 0rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: rgba(255,255,255,0.8);
	animation: linkLine 1s forwards;
}

@keyframes linkLine {
	to {
		height: 2rem;
	}
}

