

@media screen and (min-width: 1280px) and (max-width: 1500px) {
    /*header*/
    header {
        height: 120px;
    }
     .top_hd {
        height: 40px;
     }
    
     .hd_right li a {
        line-height: 40px;
        font-size: 13px;
     }

     .bottom_hd {
        height: 80px;
     }

    .hd_bt_wrap img {
        width: 90%;
        height: 90%;
    }

     .logo {
        line-height: 95px;
     }

     #gnb li {
        padding: 0 40px;
        background: url(../img/menudot.png) no-repeat right 40px;
     }

     #gnb .main_menu {
        padding-top: 30px;
     }

     #gnb li a {
        font-size: 16px;
     }

     #gnb > ul > li > a:after {
        margin: 25px auto;
     }

     #gnb .sub {
        top: 81px;
     }

     #gnb .sub li a {
        text-indent: -18px;
        font-size: 13px;
     }

     #gnb .sub li:first-child {
        margin-top: 45px;
     }

    .menuBg {
        top: 80px;
    }
    
    /*visual*/

    figure .visual {
        height: 535px;
    }
    
    /*search form*/

    aside {
        top: 0px;
    }

    .form_toggle_btn {
        margin-top: 120px;
    }
    
    /*section1*/

    #section1 {
        height: 600px;
    }
    
    .wrap {
        width: 90%;
    }

    .contents_wrap {
        height: 380px;
        margin-top: -190px;
    }
    
    .contents_wrap h1 {
        font-size: 23px;
    }

    .contents_wrap h1:before {
        width: 150px;
    }

    .contents_wrap h1:after {
        width: 150px;
    }
    
    .notice_wrap {
        height: 200px;
    }
    
    .top_val label {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }

    .tab_wrap {
        height: 160px;
    }

    .tab_text ul {
        margin-top: 5px;
    }

    .tab_text a, .tab_text span {
        font-size: 12px;
    }
    
    .tab_text a {
        height: 28px;
    }

    .tab_text .new {
        width: 18px;
        height: 18px;
    }

    .event_wrap {
        width: 700px;
        height: 200px;
    }
    
    .next, .prev {
        width: 50px;
        height: 200px;
    }

    .button {
        font-size: 20px;
        margin-top: 75px;
    }
    
    .event {
        width: 600px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 200px;
    }

    .event ul li {
        width: 200px;
        height: 200px;
    }

    .img_wrap {
        width: 200px;
        height: 200px;
    }

    .back_img h4 {
        font-size: 12px;
        margin: 20px auto;
    }

    .back_img .ban_exp {
        font-size: 11px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/
    
    .prom_title {
        width: 36px;
    }
    
    .prom_title span {
        font-size: 23px;
        height: 25px;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 175px;
    }

    .prom_wrap {
        width: 1100px;
        height: 250px;
        margin-top: -125px
    }
    
    .prom_video iframe {
        width: 448px;
        height: 250px;
    }
    
    .prom_text p {
        font-size: 15px;
        padding-left: 40px;
        width: 90%;
    }

    /*section3*/

    #section3 {
        height: 1253px;
    }

    #section3 .wrap {
        height: 1003px;
        padding-top: 110px;
    }

    .sec3_title a {
        font-size: 18px;
    }

    .sec3_title span {
        font-size: 18px;
    }

    .sec3_title h1 {
        font-size: 23px;
        margin-top: 33px;
    }

    .type_wrap {
        width: 1151px;
        height: 804px;
        margin: 0 auto;
    }

    .type_wrap div .type_title {
        width: 460px;
    }

    .type_wrap div .type_image {
        width: 691px;
    }

    .box1 {
        width: 1382px;
        height: 100%;
    }

    .box1 li {
        width: 691px;
        height: 100%;
    }

     .box2 {
        width: 1382x;
        height: 100%;
    }

    .box2 li {
        width: 691px;
        height: 100%;
    }

    .box3 {
        width: 1382x;
        margin-left: -691px;
        height: 100%;
    }

    .box3 li {
        width: 691px;
        height: 100%;
    }

    .box_text {
        margin-top: -80px;
        height: 218px;
    }

    .box_text p {
        font-size: 18px;
    }

    /*svg css*/

    .type_wrap svg {
        width: 180px;
        padding-top: 50px;
    }

    /*section4*/

    #section4 {
        height: 700px;
    }

    #section4 h1 {
        font-size: 23px;
    }

    #section4 h1:before {
        width: 460px;
    }

    #section4 h1:after {
        width: 460px;
    }

    .rcm_nav {
        width: 800px;
    }

    .rcm_nav li {
        font-size: 15px;
    }

    #section4 .rcm_image {
        height: 266.68px;
    }

    .rcm_title {
        width: 300px;
        height: 300px;
    }

    .title_line {
        border: 0.5px solid #fff;
    }

    .title_rcm {
        font-size: 13px;
    }

    .title_name {
        font-size: 40px;
    }

    .title_top {
        font-size: 18px;
    }

    .title_exp {
        font-size: 12px;
    }

    /*section5*/

    #section5 {
        height: 700px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        height: 480px;
    }

    .vertical_wrap {
        height: 160px;
    }

    .vertical_wrap span {
        font-size: 23px;
        width: 45px;
        height: 24px;
    }

    .bottom_wrap span {
        font-size: 12px;
    }

    #instafeed a {
        width: 130px;
        height: 130px;
    }

    /*footer*/

    #footer {
        height: 300px;
    }

    #footer .wrap .ft_top {
        height: 200px;
    }

    #footer .wrap .ft_bottom {
        height: 100px;
    }

    .ft_top p {
        font-size: 15px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 14px;
    }

    .ft_top p:first-child {
        padding-top: 50px;
    }

    .ft_bottom a {
        font-size: 13px;
    }

    .sns a {
        width: 20px;
        height: 20px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }
}
    
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    
    /*header*/

    header {
        height: 110px;
    }

    .contents_wrap h1 {
        font-size: 23px;
    }

    .contents_wrap h1:before {
        width: 150px;
    }

    .contents_wrap h1:after {
        width: 150px;
    }

    .top_hd {
        height: 40px;
    }

    .hd_right li a {
        font-size: 13px;
        line-height: 40px;
    }

    .bottom_hd {
        height: 70px;
    }
    
    .logo {
        line-height: 80px;
    }

    .logo img {
        width: 80%;
        height: 80%;
    }

     #gnb li {
        padding: 0 30px;
        background: url(../img/menudot.png) no-repeat right 34px;
     }

     #gnb .main_menu {
        padding-top: 24px;
     }

     #gnb li a {
        font-size: 15px;
     }

     #gnb > ul > li > a:after {
        margin: 20px auto;
     }

     #gnb .sub {
        top: 71px;
     }

     #gnb .sub li a {
        text-indent: -17px;
        font-size: 11px;
     }

    .menuBg {
        top: 70px;
    }
    
    /*visual*/

    figure .visual {
        height: 426.64px;
    }
    
    /*search form*/
    
    aside {
        top: 0;
    }

    .form_toggle_btn {
        margin-top: 110px;
    }
    
    /*section1*/

    #section1 {
        height: 600px;
    }

    .wrap {
        width: 90%;
    }

    .contents_wrap {
        height: 380px;
        margin-top: -190px;
    }
    
    .notice_wrap {
        width: 380px;
        height: 200px;
        float: left;
    }

    .top_val label {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }

    .tab_wrap {
        height: 160px;
    }

    .tab {
        height: 80%;
        padding-top: 8px;
    }

    .tab_text ul {
        margin-top: 13px;
    }

    .tab_text a, .tab_text span {
        font-size: 12px;
    }

    .tab_text a{
        height: 25px;
    }

    .event_wrap {
        width: 480px;
        height: 200px;
    }
    
    .next, .prev {
        width: 40px;
        height: 200px;
    }

    .button {
        font-size: 20px;
        margin-top: 75px;
    }
    
    .event {
        width: 400px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 200px;
    }

    .event ul li {
        width: 200px;
        height: 200px;
    }

    .img_wrap {
        width: 200px;
        height: 200px;
    }

    .back_img h4 {
        font-size: 12px;
        margin: 20px auto;
    }

    .back_img .ban_exp {
        font-size: 11px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/

    #section2 {
        height: 400px;
    }
    
    .prom_title {
        width: 5%;
        height: 400px;
    }
    
    .prom_title span {
        font-size: 18px;
        height: 20px;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 100px;
    }

    .prom_wrap {
        width: 95%;
        height: 196px;
        margin-top: -98px;
    }
    
    .prom_video iframe {
        width: 350px;
        height: 195.33px;
    }
    
    .prom_text p {
        font-size: 13px;
        padding-left: 40px;
        width: 90%;
        line-height: 1.7;
    }

    .prom_text p:nth-child(1) {
        margin-top: 3px
    }

    /*section3*/

    #section3 {
        height: 1150px;
    }

    #section3 .wrap {
        height: 900px;
        padding-top: 110px;
    }

    .sec3_title a {
        font-size: 18px;
    }

    .sec3_title span {
        font-size: 18px;
    }

    .sec3_title h1 {
        font-size: 23px;
        margin-top: 33px;
    }

    .type_wrap {
        width: 920.64px;
        height: 702px; 
        /*이미지의 높이+60px*/
    }

    .type_wrap div .type_title {
        width: 368.64px;
    }

    .type_wrap div .type_image {
        width: 552px;
    }

    .box1 {
        width: 1104px;
        height: 100%;
    }

    .box1 li {
        width: 552px;
        height: 100%;
    }

     .box2 {
        width: 1104x;
        height: 100%;
    }

    .box2 li {
        width: 552px;
        height: 100%;
    }

    .box3 {
        width: 1104x;
        margin-left: -552px;
        height: 100%;
    }

    .box3 li {
        width: 552px;
        height: 100%;
    }

    .box_text {
        margin-top: -70px;
        height: 218px;
    }

    .box_text p {
        font-size: 15px;
    }

    /*svg css*/

    .type_wrap svg {
        width: 150px;
        padding-top: 40px;
    }

    /*section4*/

    #section4 {
        height: 600px;
    }

    #section4 h1 {
        font-size: 22px;
    }

    #section4 h1:before {
        width: 350px;
    }

    #section4 h1:after {
        width: 350px;
    }

    .rcm_nav {
        width: 800px;
    }

    .rcm_nav li {
        font-size: 14px;
    }

    #section4 .rcm_image {
        height: 210px;
        margin-top: -80px;
    }

    .rcm_title {
        width: 250px;
        height: 250px;
    }

    .title_line {
        border: 0.5px solid #fff;
    }

    .title_rcm {
        font-size: 12px;
        margin-top: 25px;
    }

    .title_name {
        font-size: 35px;
    }

    .title_top {
        font-size: 15px;
        padding-top: 25px;
    }

    .title_exp {
        font-size: 11px;
    }

    /*section5*/

    #section5 {
        height: 600px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        height: 390px;
    }

    .vertical_wrap {
        height: 65px;
        /*.bottm_wrap span의 위치 조절*/
    }

    .vertical_wrap span {
        font-size: 22px;
        width: 45px;
        height: 23px;
    }

    .bottom_wrap span {
        font-size: 12px;
    }

    #instafeed a {
        width: 100px;
        height: 100px;
    }

    /*footer*/

    #footer {
        height: 280px;
    }

    #footer .wrap .ft_top {
        height: 180px;
    }

    #footer .wrap .ft_bottom {
        height: 100px;
    }

    .ft_top p {
        font-size: 14px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 13px;
    }

    .ft_top p:first-child {
        padding-top: 40px;
    }

    .ft_bottom a {
        font-size: 13px;
    }

    .sns a {
        width: 20px;
        height: 20px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }

}

@media screen and (min-width: 780px) and (max-width: 1023px) {
    
    /*header*/

    header {
        height: 70px;
    }

    .top_hd {
        height: 30px;
        display: none;
    }

    .bottom_hd {
        height: 70px;
    }
    
    .logo {
        line-height: 75px;
        width: 140px;
    }

    .logo img {
        width: 70%;
        height: 70%;
    }

    /*visual*/

    figure .visual {
        height: 326px;
    }

    .visual_text {
        width: 100px;
        height: 125px;
    }
    
    /*search form*/
    
    aside {
        top: 0;
    }

    .form_toggle_btn {
        margin-top: 110px;
    }
    
    /*section1*/

    #section1 {
        height: 600px;
    }

    .wrap {
        width: 90%;
    }
    

    .contents_wrap {
        height: 380px;
        margin-top: -190px;
    }
    
    .contents_wrap h1 {
        font-size: 23px;
    }

    .contents_wrap h1:before {
        width: 150px;
    }

    .contents_wrap h1:after {
        width: 150px;
    }
    
    .notice_wrap {
        width: 55%;
        height: 200px;
        float: left;
    }

    .top_val label {
        font-size: 15px;
        height: 40px;
        line-height: 38px;
    }

    .tab_wrap {
        height: 160px;
    }

    .tab {
        height: 80%;
        padding-top: 8px;
    }

    .tab_text ul {
        margin-top: 13px;
    }

    .tab_text a, .tab_text span {
        font-size: 12px;
    }

    .tab_text a{
        height: 25px;
    }

    .event_wrap {
        width: 280px;
        height: 200px;
    }
    
    .next, .prev {
        width: 40px;
        height: 200px;
    }

    .button {
        font-size: 18px;
        margin-top: 75px;
    }
    
    .event {
        width: 200px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 200px;
    }

    .event ul li {
        width: 200px;
        height: 200px;
    }

    .img_wrap {
        width: 200px;
        height: 200px;
    }

    .back_img h4 {
        font-size: 12px;
        margin: 20px auto;
    }

    .back_img .ban_exp {
        font-size: 11px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/

    #section2 {
        height: 600px;
    }
    
    #section2 .wrap {
        position: relative;
    }
    
    #section2 .wrap div {
        float: none;
    }
    
    .prom_title {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 340px;
/*        display: none;*/
        z-index: 100;
    }
    
    .prom_title span {
        font-size: 21px;
        height: 22px;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 100px;
    }

    .prom_wrap {
        top: 0;
        width: 100%;
        height: 500px;
        /*height 변화*/
        margin-top: 100px;
    }
    
    .prom_wrap div {
        width: 100%;
        height: 50%;
    }
    
    .prom_video {
        border: none;
        text-align: center;
    }
    
    .prom_video iframe {
        width: 400px;
        height: 220px;
    }
    
    .prom_text p {
        font-size: 13px;
        padding-left: 0px;
        width: 95%;
        line-height: 1.7;
        text-align: justify;
    }

    .prom_text p:nth-child(1) {
        margin-top: 30px
    }

    /*section3*/

    #section3 {
        height: 950px;
    }

    #section3 .wrap {
        height: 750px;
        padding-top: 110px;
    }

    .sec3_title a {
        font-size: 16px;
    }

    .sec3_title span {
        font-size: 16px;
    }

    .sec3_title h1 {
        font-size: 22px;
        margin-top: 35px;
    }

    .type_wrap {
        width: 701.79px;
        height: 555px; 
        /*(이미지의 높이*3)+60px*/
    }

    .type_wrap div .type_title {
        width: 280.79px;
    }

    .type_wrap div .type_image {
        width: 421px;
    }

    .box1 {
        width: 842px;
        height: 100%;
    }

    .box1 li {
        width: 421px;
        height: 100%;
    }

     .box2 {
        width: 842x;
        height: 100%;
    }

    .box2 li {
        width: 421px;
        height: 100%;
    }

    .box3 {
        width: 842x;
        margin-left: -421px;
        height: 100%;
    }

    .box3 li {
        width: 421px;
        height: 100%;
    }

    .box_text {
        margin-top: -60px;
        height: 218px;
    }

    .box_text p {
        font-size: 12px;
    }

    /*svg css*/

    .type_wrap svg {
        width: 130px;
        padding-top: 20px;
    }

    /*section4*/

    #section4 {
        height: 480px;
    }

    #section4 h1 {
        font-size: 22px;
    }

    #section4 h1:before {
        width: 240px;
    }

    #section4 h1:after {
        width: 240px;
    }

    .rcm_nav {
        width: 500px;
    }

    .rcm_nav li {
        font-size: 14px;
    }

    #section4 .rcm_image {
        height: 143px;
        margin-top: -30px;
    }

    .rcm_title {
        width: 180px;
        height: 180px;
    }

    .title_line {
        margin-top: 6px;
        border: 0.5px solid #fff;
    }

    .title_rcm {
        font-size: 12px;
        margin-top: 35px;
    }

    .title_name {
        font-size: 30px;
    }

    .title_top {
        font-size: 15px;
        padding-top: 18px;
    }

    .title_exp {
        display: none;
    }

    /*section5*/

    #section5 {
        height: 420px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        height: 290px;
    }

    .vertical_wrap {
        /*.bottm_wrap span의 위치 조절*/
    }

    .vertical_wrap span {
        font-size: 18px;
        width: 45px;
        height: 18px;    }

    .bottom_wrap span {
        display: none;
    }

    #instafeed {
        margin-top: 10px;
    }
    
    #instafeed a {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 10px;
    }

    /*footer*/

    #footer {
        height: 250px;
    }

    #footer .wrap .ft_top {
        height: 170px;
    }

    #footer .wrap .ft_bottom {
        height: 80px;
    }

    .ft_top p {
        font-size: 13px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 12px;
    }

    .ft_top p:first-child {
        padding-top: 40px;
    }

    .ft_bottom ul {
        margin-top: 28px;
    }
    
    .ft_bottom a {
        font-size: 12px;
    }

    .sns a {
        width: 20px;
        height: 20px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }

    /*mobile*/

    #gnb {
        display: none;
    }

    .nav_btn {
        display: block;
        line-height: 70px;
    }
    
}
      
@media screen and (min-width: 640px) and (max-width: 779px) {
    
    /*header*/

    header {
        height: 70px;
    }

    .top_hd {
        height: 30px;
        display: none;
    }

    .bottom_hd {
        height: 70px;
    }
    
    .logo {
        line-height: 75px;
        width: 140px;
    }

    .logo img {
        width: 70%;
        height: 70%;
    }
    
    /*visual*/

    figure .visual {
        height: 268px;
    }

    .visual_text {
        width: 100px;
        height: 125px;
    }
    
    /*search form*/
    
    aside {
        top: 0;
    }

    .form_toggle_btn {
        margin-top: 110px;
    }
    
    /*section1*/

    #section1 {
        height: 900px;
    }

    .wrap {
        width: 90%;
    }
    
    .contents_wrap {
        height: 750px;
        margin-top: -375px;

    }
    
    .contents_wrap h1 {
        font-size: 23px;
    }

    .contents_wrap h1:before {
        width: 150px;
    }

    .contents_wrap h1:after {
        width: 150px;
    }
    
    .notice_wrap {
        width: 576px;
        height: 280px;
        margin: 0 auto;
        float: inherit;
    }

    .top_val label {
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }

    .tab_wrap {
        height: 230px;
    }

    .tab {
        height: 80%;
        padding-top: 20px;
    }

    .tab_text ul {
        margin-top: 18px;
    }

    .tab_text a, .tab_text span {
        font-size: 13px;
    }

    .tab_text a{
        height: 33px;
    }

    .event_wrap {
        width: 576px;
        height: 240px;
        margin: 0 auto;
        margin-top: 50px;
        float: inherit;
    }
    
    .next, .prev {
        width: 48px;
        height: 240px;
    }

    .button {
        font-size: 20px;
        margin-top: 95px;
    }
    
    .event {
        width: 480px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 240px;
    }

    .event ul li {
        width: 240px;
        height: 240px;
    }

    .img_wrap {
        width: 240px;
        height: 240px;
    }

    .back_img h4 {
        font-size: 15px;
        margin: 30px auto;
    }

    .back_img .ban_exp {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/

    #section2 {
        height: 600px;
    }
    
    #section2 .wrap {
        position: relative;
        height: 510px;
    }
    
    #section2 .wrap div {
        float: none;
    }
    
    .prom_title {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 340px;
/*        display: none;*/
        z-index: 100;
    }
    
    .prom_title span {
        font-size: 21px;
        height: 22px;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 100px;
    }

    .prom_wrap {
        top: 0;
        width: 100%;
        height: 500px;
        /*height 변화*/
        margin-top: 100px;
    }
    
    .prom_wrap div {
        width: 100%;
        height: 50%;
    }
    
    .prom_video {
        border: none;
        text-align: right;
        padding-right: 30px;
    }
    
    .prom_video iframe {
        width: 400px;
        height: 220px;
    }
    
    .prom_text p {
        font-size: 15px;
        padding-left: 0px;
        width: 50%;
        line-height: 1.8;
        float: left;
        height: 230px;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: justify;
    }

    .prom_text p:nth-child(1) {
        margin-top: 20px
    }

    /*section3*/

    #section3 {
        height: 850px;
    }

    #section3 .wrap {
        height: 660px;
        padding-top: 90px;
    }

    .sec3_title a {
        font-size: 16px;
    }

    .sec3_title span {
        font-size: 16px;
    }

    .sec3_title h1 {
        font-size: 22px;
        margin-top: 35px;
    }

    .type_wrap {
        width: 576.4px;
        height: 462px; 
        /*(이미지의 높이*3)+60px*/
    }

    .type_wrap div .type_title {
        width: 230.4px;
    }

    .type_wrap div .type_image {
        width: 346px;
    }

    .box1 {
        width: 692px;
        height: 100%;
    }

    .box1 li {
        width: 346px;
        height: 100%;
    }

     .box2 {
        width: 692px;
        height: 100%;
    }

    .box2 li {
        width: 346px;
        height: 100%;
    }

    .box3 {
        width: 692px;
        margin-left: -346px;
        height: 100%;
    }

    .box3 li {
        width: 346px;
        height: 100%;
    }

    .box_text {
        margin-top: -65px;
        height: 218px;
    }

    .box_text p {
        font-size: 11px;
    }

    /*svg css*/

    .type_wrap svg {
        width: 110px;
        padding-top: 15px;
    }

    /*section4*/

    #section4 {
        height: 480px;
    }

    #section4 h1 {
        font-size: 21px;
    }

    #section4 h1:before {
        width: 180px;
    }

    #section4 h1:after {
        width: 180px;
    }

    .rcm_nav {
        width: 450px;
    }

    .rcm_nav li {
        font-size: 12px;
    }

    #section4 .rcm_image {
        height: 134px;
        margin-top: -30px;
    }

    .rcm_title {
        width: 170px;
        height: 170px;
    }

    .title_line {
        margin-top: 6px;
        border: 0.5px solid #fff;
    }

    .title_rcm {
        font-size: 11px;
        margin-top: 35px;
    }

    .title_name {
        font-size: 28px;
    }

    .title_top {
        font-size: 13px;
        padding-top: 18px;
    }

    .title_exp {
        display: none;
    }

    /*section5*/

    #section5 {
        height: 420px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        height: 290px;
    }

    .vertical_wrap {
        /*.bottm_wrap span의 위치 조절*/
    }

    .vertical_wrap span {
        font-size: 18px;
        width: 40px;
        height: 18px;    
        border-right: 0.5px solid #fff;
    }

    .bottom_wrap span {
        display: none;
    }

    #instafeed {
        margin-top: 10px;
        height: 280px;
    }
    
    #instafeed a {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 10px;
    }

    /*footer*/

    #footer {
        height: 250px;
    }

    #footer .wrap .ft_top {
        height: 170px;
    }

    #footer .wrap .ft_bottom {
        height: 80px;
    }

    .ft_top p {
        font-size: 13px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 12px;
    }

    .ft_top p:first-child {
        padding-top: 40px;
    }

    .ft_bottom ul {
        margin-top: 28px;
    }
    
    .ft_bottom a {
        font-size: 12px;
    }

    .sns a {
        width: 20px;
        height: 20px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }

    /*mobile*/

    #gnb {
        display: none;
    }

    .nav_btn {
        display: block;
        line-height: 70px;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    
    /*header*/

    header {
        height: 60px;
    }

    .top_hd {
        display: none;
        height: 30px;
    }

    .bottom_hd {
        height: 60px;
    }
    
    .logo {
        line-height: 65px;
        width: 140px;
    }

    .logo img {
        width: 70%;
        height: 70%;
    }

    /*visual*/

    figure .visual {
        height: 268px;
    }

    .visual_text {
        width: 100px;
        height: 125px;
    }
    
    /*search form*/
    
    aside {
        top: 0;
    }

    .form_toggle_btn {
        margin-top: 110px;
    }
    
    /*section1*/

    #section1 {
        height: 900px;
    }

    .wrap {
        width: 90%;
    }
    
    .contents_wrap {
        height: 750px;
        margin-top: -375px;

    }
    
    .contents_wrap h1 {
        font-size: 20px;
    }

    .contents_wrap h1:before {
        width: 130px;
    }

    .contents_wrap h1:after {
        width: 130px;
    }
    
    .notice_wrap {
        width: 432px;
        height: 250px;
        margin: 0 auto;
        float: inherit;
    }

    .top_val label {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
    }

    .tab_wrap {
        height: 200px;
    }

    .tab {
        height: 80%;
        padding-top: 10px;
    }

    .tab_text ul {
        margin-top: 18px;
    }

    .tab_text a, .tab_text span {
        font-size: 13px;
    }

    .tab_text a{
        height: 33px;
    }

    .event_wrap {
        width: 432px;
        height: 250px;
        margin: 0 auto;
        margin-top: 50px;
        float: inherit;
    }
    
    .next, .prev {
        width: 50px;
        height: 250px;
    }

    .button {
        font-size: 22px;
        margin-top: 95px;
    }
    
    .event {
        width: 332px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 250px;
    }

    .event ul li {
        width: 250px;
        height: 250px;
    }

    .img_wrap {
        width: 250px;
        height: 250px;
    }

    .back_img h4 {
        font-size: 15px;
        margin: 30px auto;
    }

    .back_img .ban_exp {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/

    #section2 {
        height: 700px;
    }
    
    #section2 .wrap {
        position: relative;
        height: 510px;
    }
    
    #section2 .wrap div {
        float: none;
    }
    
    .prom_title {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 340px;
/*        display: none;*/
        z-index: 100;
    }
    
    .prom_title span {
        font-size: 20px;
        height: 20px;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 98px;
    }

    .prom_wrap {
        top: 0;
        width: 100%;
        height: 500px;
        /*height 변화*/
        margin-top: 100px;
    }
    
    .prom_wrap div {
        width: 100%;
        height: 50%;
    }
    
    .prom_video {
        border: none;
        text-align: right;
        padding-right: 15px;
        box-sizing: border-box;
    }
    
    .prom_video iframe {
        width: 360px;
        height: 200px;
    }

    .prom_text {
        padding-bottom: 10px;
        border-bottom: 0.5px solid rgba(255,255,255,0.3);
    }
    
    .prom_text p {
        font-size: 14px;
        padding-left: 0px;
        width: 50%;
        line-height: 1.7;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: justify;
    }

    .prom_text p:nth-child(1) {
        margin-top: 20px
    }

    /*section3*/

    #section3 {
        height: 780px;
    }

    #section3 .wrap {
        height: 610px;
        padding-top: 70px;
    }

    .sec3_title a {
        font-size: 14px;
    }

    .sec3_title span {
        font-size: 14px;
    }

    .sec3_title h1 {
        font-size: 20px;
        margin-top: 35px;
    }

    .type_wrap {
        width: 432px;
        height: 408px; 
        /*(이미지의 높이*3)+60px*/
    }

    .type_wrap div .type_title {
        width: 130px;
    }

    .type_wrap div .type_image {
        width: 302px;
    }

    .box1 {
        width: 604px;
        height: 100%;
    }

    .box1 li {
        width: 302px;
        height: 100%;
    }

     .box2 {
        width: 604px;
        height: 100%;
    }

    .box2 li {
        width: 302px;
        height: 100%;
    }

    .box3 {
        width: 604px;
        margin-left: -302px;
        height: 100%;
    }

    .box3 li {
        width: 302px;
        height: 100%;
    }

    .box_text {
        margin-top: -65px;
        height: 218px;
    }

    .box_text p {
        font-size: 11px;
    }

    /*svg css*/

    .type_wrap svg {
        width: 90px;
        padding-top: 15px;
    }

    /*section4*/

    #section4 {
        height: 400px;
    }

    #section4 h1 {
        font-size: 20px;
    }

    #section4 h1:before {
        width: 120px;
    }

    #section4 h1:after {
        width: 120px;
    }

    .rcm_nav {
        width: 400px;
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .rcm_nav li {
        font-size: 12px;
    }

    #section4 .rcm_image {
        height: 125px;
        margin-top: -35.5px;
    }

    .rcm_title {
        width: 150px;
        height: 150px;
    }

    .title_line {
        margin-top: 4px;
        border: 0.5px solid #fff;
    }

    .title_rcm {
        font-size: 11px;
        margin-top: 20px;
    }

    .title_name {
        font-size: 25px;
    }

    .title_top {
        font-size: 12px;
        padding-top: 25px;
    }

    .title_exp {
        display: none;
    }

    /*section5*/

    #section5 {
        height: 380px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        height: 250px;
    }

    .vertical_wrap {
        /*.bottm_wrap span의 위치 조절*/
    }

    .vertical_wrap span {
        font-size: 15px;
        width: 40px;
        height: 15px;
        border-right: 0.5px solid #fff;
    }

    .bottom_wrap span {
        display: none;
    }

    #instafeed {
        margin-top: 10px;
        height: 225px;
    }
    
    #instafeed a {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
    }

    /*footer*/

    #footer {
        height: 250px;
    }

    #footer .wrap .ft_top {
        height: 170px;
    }

    #footer .wrap .ft_bottom {
        height: 80px;
    }

    .ft_top p {
        font-size: 12px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 11px;
    }

    .ft_top p:first-child {
        padding-top: 40px;
    }

    .ft_bottom ul {
        margin-top: 28px;
    }
    
    .ft_bottom a {
        font-size: 11px;
    }

    .sns a {
        width: 20px;
        height: 20px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }

   /*mobile*/

    #gnb {
        display: none;
    }

    .nav_btn {
        display: block;
        line-height: 60px;
    }
}
    
@media screen and (min-width: 414px) and (max-width: 479px) {
    
    /*header*/

    header {
        height: 60px;
    }

    .top_hd {
        display: none;
        height: 30px;
    }

    .bottom_hd {
        height: 60px;
    }
    
    .logo {
        line-height: 65px;
        width: 140px;
    }

    .logo img {
        width: 70%;
        height: 70%;
    }
    
    /*visual*/

    figure .visual {
        height: 450px;
        background-image: url(../img/visual3.jpg);
    }

    .visual_text {
        width: 100px;
        height: 125px;
    }
    
    /*search form*/
    
    aside {
        top: 0;
    }

    .form_toggle_btn {
        margin-top: 110px;
    }
    
    /*section1*/

    #section1 {
        height: 900px;
    }

    .wrap {
        width: 90%;
    }
    
    .contents_wrap {
        height: 750px;
        margin-top: -375px;

    }
    
    .contents_wrap h1 {
        font-size: 25px;
    }

    .contents_wrap h1:before {
        width: 160px;
    }

    .contents_wrap h1:after {
        width: 160px;
    }
    
    .notice_wrap {
        width: 372.6px;
        height: 250px;
        margin: 0 auto;
        float: inherit;
    }

    .top_val label {
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }

    .tab_wrap {
        height: 200px;
    }

    .tab {
        height: 80%;
        padding-top: 10px;
    }

    .tab_text ul {
        margin-top: 15px;
    }

    .tab_text a, .tab_text span {
        font-size: 15px;
    }

    .tab_text a{
        height: 33px;
    }

    .event_wrap {
        width: 372.6px;
        height: 250px;
        margin: 0 auto;
        margin-top: 50px;
        float: inherit;
    }
    
    .next, .prev {
        width: 60.1px;
        height: 250px;
    }

    .button {
        font-size: 22px;
        margin-top: 95px;
    }
    
    .event {
        width: 250px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 250px;
    }

    .event ul li {
        width: 250px;
        height: 250px;
    }

    .img_wrap {
        width: 250px;
        height: 250px;
    }

    .back_img h4 {
        font-size: 15px;
        margin: 30px auto;
    }

    .back_img .ban_exp {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/

    #section2 {
        height: 720px;
    }
    
    #section2 .wrap {
        position: relative;
        padding-top: 60px;
        height: 550px;
        /*변화------------*/
    }
    
    #section2 .wrap div {
        float: none;
    }
    
    .prom_title {
        width: 100%;
        height: 10%;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .prom_title span {
        font-size: 25px;
        width: 19px;
        line-height: 70px;
        display: inline-block;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 0px;
    }

    .prom_title span:nth-child(7) {
        width: 40px;
        height: 1px;
        background: #fff;
        margin: 0 10px 8px 10px;
    }

    .prom_wrap {
        position: static;
        top: 0;
        width: 100%;
        height: 450px;
        /*height 변화*/
        margin-top: 0px;
    }
    
    .prom_wrap div {
        width: 100%;
        height: 50%;
    }
    
    .prom_video {
        border: none;
        text-align: center;
        padding-right: 0px;
        box-sizing: border-box;
    }
    
    .prom_video iframe {
        width: 372px;
        height: 201px;
    }

    .prom_text {
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    .prom_text p {
        font-size: 17px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
        line-height: 1.7;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: justify;
        margin-top: 30px;
        font-weight: bold;
    }

    .prom_text p:nth-child(1) {
        display: none;
        margin-top: 0px
    }

    /*section3*/

    #section3 {
        height: 740px;
    }

    #section3 .wrap {
        width: 100%;
        height: 610px;
        padding-top: 70px;
    }

    .sec3_title {
        width: 90%;
        height: 100px;
        margin: 0 auto;
    }

    .sec3_title a {
        font-size: 16px;
    }

    .sec3_title span {
        font-size: 16px;
    }

    .sec3_title h1 {
        font-size: 25px;
        margin-top: 35px;
    }

    .type_wrap {
        width: 414px;
        height: 480px;
        margin: 0 auto; 
    }

    .type_wrap div .type_title {
        display: none;
    }

    .type_wrap div .type_image {
        width: 414px;
    }

    .type_image li {
        border-bottom: none;
    }

    .box1 {
        width: 828px;
        height: 100%;
    }

    .box1 li {
        width: 414px;
        height: 100%;
    }

     .box2 {
        width: 828px;
        height: 100%;
    }

    .box2 li {
        width: 414px;
        height: 100%;
    }

    .box3 {
        width: 828px;
        margin-left: -414px;
        height: 100%;
    }

    .box3 li {
        width: 414px;
        height: 100%;
    }

    .box_text {
        margin-top: -85px;
        height: 140px;
    }

    .box_text p {
        width: 90%; 
        font-size: 18px;
        text-align: justify;
    }

    /*svg css*/

    .type_wrap svg {
        width: 90px;
        padding-top: 15px;
    }

    /*section4*/

    #section4 {
        height: 400px;
    }

    #section4 h1 {
        font-size: 25px;
    }

    #section4 h1:before {
        width: 70px;
        margin-right: 15px;
    }

    #section4 h1:after {
        width: 70px;
        margin-left: 15px;
    }

    .rcm_nav {
        width: 400px;
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .rcm_nav li {
        font-size: 16px;
    }

    #section4 .rcm_image {
        height: 107px;
        margin-top: -15px;
    }

    .rcm_title {
        width: 170px;
        height: 170px;
    }

    .title_line {
        margin-top: 4px;
        border: 0.5px solid #fff;
    }

    .title_rcm {
        font-size: 13px;
        margin-top: 30px;
    }

    .title_name {
        font-size: 25px;
    }

    .title_top {
        font-size: 14px;
        padding-top: 25px;
    }

    .title_exp {
        display: none;
    }

    /*section5*/

    #section5 {
        height: 1000px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        width: 99%;
        height: 880px;
    }

    .vertical_wrap {
        /*.bottm_wrap span의 위치 조절*/
    }

    .vertical_wrap span {
        font-size: 20px;
        width: 40px;
        height: 20px;
        border-right: 0.5px solid #fff;
    }

    .bottom_wrap span {
        display: none;
    }

    #instafeed {
        margin-top: 10px;
        height: 880px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    
    #instafeed a {
        width: 135px;
        height: 135px;
        margin-top: 10px;
        margin-left: 10px;
        float: right;
    }

    /*footer*/

    #footer {
        height: 260px;
    }

    #footer .wrap .ft_top {
        height: 180px;
    }

    #footer .wrap .ft_bottom {
        height: 80px;
    }

    .ft_top p {
        font-size: 14px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 13px;
    }

    .ft_top p:first-child {
        padding-top: 30px;
    }

    .ft_bottom ul {
        margin-top: 28px;
    }
    
    .ft_bottom a {
        font-size: 10px;
    }

    .inf li {
        margin-right: 10px;
    }

    .sns li {
        margin-left: 10px;
    }

    .sns a {
        width: 18px;
        height: 18px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }

   /*mobile*/

    #gnb {
        display: none;
    }

    .nav_btn {
        display: block;
        line-height: 60px;
    }
}

@media screen and (max-width: 413px) {
    
    /*header*/

    header {
        height: 60px;
    }

    .top_hd {
        display: none;
        height: 30px;
    }

    .bottom_hd {
        height: 60px;
    }
    
    .logo {
        line-height: 65px;
        width: 140px;
    }

    .logo img {
        width: 70%;
        height: 70%;
    }

    /*visual*/

    figure .visual {
        height: 348px;
        background-image: url(../img/visual3.jpg);
    }

    .visual_text {
        width: 100px;
        height: 125px;
    }
    
    /*search form*/
    
    aside {
        top: 0;
    }

    .form_toggle_btn {
        margin-top: 110px;
    }
    
    /*section1*/

    #section1 {
        height: 800px;
    }

    .wrap {
        width: 90%;
    }
    
    .contents_wrap {
        height: 630px;
        margin-top: -315px;
    }
    
    .contents_wrap h1 {
        font-size: 23px;
    }

    .contents_wrap h1:before {
        width: 150px;
    }

    .contents_wrap h1:after {
        width: 150px;
    }
    
    .notice_wrap {
        width: 288px;
        height: 200px;
        margin: 0 auto;
        float: inherit;
    }

    .top_val label {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }

    .tab_wrap {
        height: 160px;
    }

    .tab {
        height: 80%;
        padding-top: 10px;
    }

    .tab_text ul {
        margin-top: 10px;
    }

    .tab_text a, .tab_text span {
        font-size: 13px;
    }

    .tab_text a{
        height: 25px;
    }

    .event_wrap {
        width: 288px;
        height: 200px;
        margin: 0 auto;
        margin-top: 50px;
        float: inherit;
    }
    
    .next, .prev {
        width: 44px;
        height: 200px;
    }

    .button {
        font-size: 20px;
        margin-top: 80px;
    }
    
    .event {
        width: 200px; /*화면에 보이는 너비-height에 맞추어서 줄어들음*/
    }

    .event ul {
        /*width: 800px;*/
        height: 200px;
    }

    .event ul li {
        width: 200px;
        height: 200px;
    }

    .img_wrap {
        width: 200px;
        height: 200px;
    }

    .back_img h4 {
        font-size: 13px;
        margin: 20px auto;
    }

    .back_img .ban_exp {
        font-size: 10px;
        padding-bottom: 5px;
    }

    .back_img .ban_date {
        font-size: 10px;
    }
    
    /*section2*/

    #section2 {
        height: 720px;
    }
    
    #section2 .wrap {
        position: relative;
        padding-top: 60px;
        height: 550px;
        /*변화------------*/
    }
    
    #section2 .wrap div {
        float: none;
    }
    
    .prom_title {
        width: 100%;
        height: 10%;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .prom_title span {
        font-size: 23px;
        width: 17px;
        line-height: 70px;
        display: inline-block;
    }
    
    .prom_title span:nth-child(1) {
        padding-top: 0px;
    }

    .prom_title span:nth-child(7) {
        width: 40px;
        height: 1px;
        background: #fff;
        margin: 0 10px 8px 10px;
    }

    .prom_wrap {
        position: static;
        top: 0;
        width: 100%;
        height: 450px;
        /*height 변화*/
        margin-top: 0px;
    }
    
    .prom_wrap div {
        width: 100%;
        height: 50%;
    }
    
    .prom_video {
        border: none;
        text-align: center;
        padding-right: 0px;
        box-sizing: border-box;
    }
    
    .prom_video iframe {
        width: 288px;
        height: 155px;
    }

    .prom_text {
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    .prom_text p {
        font-size: 17px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
        line-height: 1.7;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: justify;
        margin-top: 0px;
        font-weight: bold;
    }

    .prom_text p:nth-child(1) {
        display: none;
        margin-top: 0px
    }

    /*section3*/

    #section3 {
        height: 600px;
    }

    #section3 .wrap {
        width: 100%;
        height: 500px;
        padding-top: 35px;
    }

    .sec3_title {
        width: 90%;
        height: 100px;
        margin: 0 auto;
    }

    .sec3_title a {
        font-size: 14px;
    }

    .sec3_title span {
        font-size: 14px;
    }

    .sec3_title h1 {
        font-size: 20px;
        margin-top: 35px;
    }

    .type_wrap {
        width: 320px;
        height: 372px;
        margin: 0 auto; 
    }

    .type_wrap div .type_title {
        display: none;
    }

    .type_wrap div .type_image {
        width: 320px;
    }

    .type_image li {
        border-bottom: none;
    }

    .box1 {
        width: 640px;
        height: 100%;
    }

    .box1 li {
        width: 320px;
        height: 100%;
    }

     .box2 {
        width: 640px;
        height: 100%;
    }

    .box2 li {
        width: 320px;
        height: 100%;
    }

    .box3 {
        width: 640px;
        margin-left: -320px;
        height: 100%;
    }

    .box3 li {
        width: 320px;
        height: 100%;
    }

    .box_text {
        margin-top: -70px;
        height: 140px;
    }

    .box_text p {
        width: 90%; 
        font-size: 13px;
        text-align: justify;
    }

    /*svg css*/

    .type_wrap svg {
        width: 90px;
        padding-top: 15px;
    }

    /*section4*/

    #section4 {
        height: 350px;
    }

    #section4 h1 {
        font-size: 23px;
    }

    #section4 h1:before {
        width: 50px;
        margin-right: 15px;
    }

    #section4 h1:after {
        width: 50px;
        margin-left: 15px;
    }

    .rcm_nav {
        width: 300px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .rcm_nav li {
        font-size: 12px;
    }

    #section4 .rcm_image {
        height: 83px;
        margin-top: -25px;
    }

    .rcm_title {
        width: 120px;
        height: 120px;
    }

    .title_line {
        margin-top: 4px;
        border: none;
    }

    .title_rcm {
        font-size: 9px;
        margin-top: 25px;
    }

    .title_name {
        font-size: 22px;
    }

    .title_top {
        font-size: 11px;
        padding-top: 20px;
    }

    .title_exp {
        display: none;
    }

    /*section5*/

    #section5 {
        height: 1000px;
    }

    #section5 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 0;
        margin-left: 0;
        width: 99%;
        height: 880px;
    }

    .vertical_wrap {
        /*.bottm_wrap span의 위치 조절*/
    }

    .vertical_wrap span {
        font-size: 20px;
        width: 33px;
        height: 20px;
        border-right: 0.5px solid #fff;
    }

    .bottom_wrap span {
        display: none;
    }

    #instafeed {
        margin-top: 10px;
        height: 880px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    
    #instafeed a {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
        float: right;
    }

    /*footer*/

    #footer {
        height: 260px;
    }

    #footer .wrap .ft_top {
        height: 180px;
    }

    #footer .wrap .ft_bottom {
        height: 80px;
    }

    .ft_top p {
        font-size: 12px;
    }

    .ft_top address {
        display: inline-block;
        margin-bottom: 1px;
        font-size: 11px;
    }

    .ft_top p:first-child {
        padding-top: 30px;
    }

    .ft_bottom ul {
        margin-top: 28px;
    }
    
    .ft_bottom a {
        font-size: 10px;
    }

    .inf li {
        margin-right: 13px;
    }

    .sns {
        display: none;
    }

    .sns li {
        margin-left: 10px;
    }

    .sns a {
        width: 18px;
        height: 18px;
    }

    .sns .facebook {
        background-size: cover;
    }

    .sns .naver {
        background-size: cover;
    }

   /*mobile*/

    #gnb {
        display: none;
    }

    .nav_btn {
        display: block;
        line-height: 60px;
    }
}
    
    
        
    
    
    
    
    
    
    
    
    
    
    
    