@import url( "https://fonts.googleapis.com/earlyaccess/notosanskr.css" );
/*css reset*/
* {
	margin: 0;
	padding: 0;
}

 body, html { 
	width: 100%;
  }

 ul, li {
 	list-style: none;
 }

 a {
 	text-decoration: none;
 }

 img {
 	border: none;
 }

/*header*/

header {
    width: 100%;
    height: 180px;
    font-family : "Noto Sans KR";
}

.wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.top_header {
    width: 100%;
    height: 40px;
    background: #40993d;
}

.bottom_header {
    width: 100%;
    height: 140px;
}

/*/////////////////////////////////*/

.top_menu { /*top 메뉴모음*/
    float: left;
    line-height: 40px;
}

.top_menu li {
    float: left;
    padding-right: 15px;
}

.top_menu li a {
    font-size: 14px;
    color: #f6fcf0;
    font-family : "Noto Sans KR";
}

.language { /*언어 선택*/
    float: right;
    border: none;
    background: none;
    color: #f6fcf0;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

.bottom_header > .wrap {
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -23.5px;
    display: inline-block;
}

#gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -370px;
    width: 850px;
    height: 100%;
}

#gnb > ul {
    width: 100%;
    height: 100%;
    position: relative;
}

#gnb > ul > li {
    float: left;
    width: 14.28%;
    height: 100%;
    text-align: center;
}

#gnb > ul > li > a {
    font-size: 18px;
    color: #444444;
    font-family : "Noto Sans KR";
    line-height: 140px;
}

.sitemap { /*사이트맵*/
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../img/sitemap.svg) no-repeat;
    cursor: pointer;
}

/*depth2*/

.depth2 {/*sub 메뉴 전체를 감싼 div*/
    position: absolute;
    top: 140px;
    left: -590px;
    width: 1920px;
    height: 0px;
    display: none;
    border-top: 1px solid #efefef;
    box-sizing: border-box;
    background: #f3f9ef;
    z-index: 100;`
}

.sub1 {/*각 depth2의 height 설정*/
    height: 540px;
}

.sub2 {
    height: 505px;
}

.sub3 {
    height: 395px;
}

.sub4 {
    height: 740px;
}

.sub5 {
    height: 450px;

}

.sub6 {
    height: 300px;

}

.sub7 {
    height: 1000px;
}

/*//////////////////*/

.dep_title {
    width: 300px;
    height: 100%;
    background: #f3f9ef;
    float: left;
}

.sub_wrap {
    width: 900px;
    height: 100%;
    background: #f3f9ef;
    float: left;
}

.sub_wrap > ul {
    width: 100%;
    height: 100%;
    font-size: 0;/*inline-block의 공백 제거*/
    position: relative;
}

.sub_wrap > ul::before {
    content: "";
    width: 160px;
    height: 100%;
    background: #5e9b37;
    position: absolute;
    top: 0;
    left: 0;
}

.sub_wrap > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 45px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    text-align: left;
}

.sub_wrap > ul > li:last-child {
    border: none;
}

.sub_wrap > ul > li > a {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 15px;
    padding: 0 30px 0 10px;
    color: #fff;
}

.depth3 {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 160px;
}

.depth3 > li {
    float: left;
    padding-left: 20px;
}

.depth3 > li > a {
    position: relative;
    font-size: 14px;
    color: #333;
}

.depth3 > li > a::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: teal;
    margin-right: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

/*figure*/

#visual {
    width: 100%;
    height: 678px;
}

.main_visual {
    width: 100%;
    height: 100%;
    background: url(../img/main_visual2.svg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.search_wrap {
    margin: 0 auto;
    width: 450px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 130px;
    transition: 0.3s;
}

.search {
    width: 400px;
    height: 100%;
    float: left;
    border: 5px solid #ffa800;
    border-right: none;
    box-sizing: border-box;
}

.search_btn {
    width: 50px;
    height: 100%;
    border: none;
    background-color: #ffa800;
    background-image: url(../img/search.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*section1*/

#section1 {
    width: 100%;
    height: 1200px;
    font-family : "Noto Sans KR";
    background-color: #f9faf7;
    border-bottom: 1px solid #dfdfdf;
}

.background_title {
    width: 100%;
    height: 100px;
    background: #f4f7ee;
    position: relative;
    border-bottom: 1px solid #d9e2c5;
}

.donggu_title_wrap {
    width: 350px;
    height: 50px;
    margin: 0 auto;
    padding-top: 15px;
} 

.donggu_title {/*지금 동구는*/ 
    width: 100%;
    height: 100%;
    background: url(../img/title_donggu.svg) no-repeat;
    background-position: center;
    background-size: cover;
}

.title_arrow {
    width: 156px;
    height: 60px;
    background: url(../img/title_arrow.svg) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -78px;
    bottom: -60px;
}

#section1 .wrap {
    height: 100%;
    margin-top: 100px;
}

.clearfix {
    width: 100%;
    height: 330px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*tab*/

/*/////탭 active 속성/////*/

.tab_title li.active {
    border-top: 4px solid #9ad936;
    color: #9ad936;
    line-height: 42px;
}

.tab_contents div.active {
    display: block;
}

/*/////////////////////*/

.tab_wrap {
    width: 550px;/*반응형 시 변경사항*/
    height: 300px;
    float: left;
    box-sizing: border-box;
    /*box-shadow: 3px 3px 15px rgba(229,229,229,1);*/
}

.tab_title_wrap {
    width: 100%;
    height: 50px;/*타이틀의 높이*/
}

.tab_title_wrap ul {
    width: 90%;
    height: 100%;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.tab_title_wrap ul li {
    width: 20%;/*ul의 90%를 5로 나눈 사이즈*/
    height: 100%;
    line-height: 50px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}


.tab_title_wrap button {
    width: 10%;/*나머지 10%*/
    height: 100%;
    background: url(../img/plus.svg) no-repeat center #fff;
    background-size: 35%;
    border: none;
    border-bottom: 0.5px solid #e6e6e6;
    box-sizing: border-box;
    cursor: pointer;
}

.tab_contents {
    width: 100%;
    height: 250px;
    background: #fff;
    border-bottom: 0.5px solid #e6e6e6;
    box-sizing: border-box;
}

.tab_element {
    width: 100%;
    height: 100%;
    display: none;
}

.tab_element .align {
    padding: 13px 10px 0 10px;/*컨텐츠의 y축 위치 조정*/
    box-sizing: border-box;
}

.tab_element ul li {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #f7f7f7;
    box-sizing: border-box;
}

.tab_element ul li:last-child {
    border: none;
}

.tab_element ul li a {
    font-size: 14px;
    color: #555;
}

.text {
    float: left;
    width: 70%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    float: right;
    color: #898989;
    font-weight: lighter;
}

.new {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../img/new_icon.png) no-repeat center;
    background-size: cover;
}

/*link*/

.link_wrap {
    width: 292px;
    height: 300px;
    background: #fff;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.link_wrap div {
    width: 100%;
    height: 33.3333%;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.link_wrap div:last-child {
    border: none;
}

/*pop-up*/

.popup {
    width: 298px;
    height: 300px;
    float: left;
    margin: 0 30px 0 30px;
}

.popup_button {
    width: 100%;
    height: 50px;
    background: #fff;
}

.popup_button h3 {
    display: inline-block;
    color: #555;
    font-size: 18px;
    line-height: 50px;
    margin-left: 20px;
    float: left;
}

.popup_button .button_wrap {
    margin-top: 10px;
    float: right;
}

.button_wrap button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.prev {
    background-image: url(../img/prev.png);
}

.play {
    background-image: url(../img/play.png);
}

.stop {
    background-image: url(../img/stop.png);
}

.next {
    background-image: url(../img/next.png);
}

.banner_wrap {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.banner_wrap ul {
    width: 1788px;
    height: 100%;
}

.banner_wrap ul li {
    width: 298px;
    height: 100%;
    float: left;
}

.banner_wrap ul li img {
    width: 100%;
    height: 100%;
}

/*sns*/

.sns_wrap {
    width: 878px;
    height: 300px;
    background: #fff;
    float: left;
    margin-right: 30px;
}

.sns_title {
    width: 100%;
    height: 50px;
}

.sns_title div {
    width: 33.3333%;
    height: 100%;
    float: left;
}

.sns_title > div > span {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 15px;
}

.sns_title > div > a {
    display: inline-block;
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-top: 13px;
}

/*.sns_facebook {
    border-top: 1px solid #f7f7f7;
}

.sns_twitter {
    border-top: 1px solid #f7f7f7;
}

.sns_naver {
    border-top: 1px solid #f7f7f7;
}*/

.sns_facebook span {
    color: #3b5998;
}

.sns_twitter span {
    color: #00aced;
}

.sns_naver span {
    color: #3eaf02;
}

.sns_facebook a {
    background: url(../img/sns_fb.svg) no-repeat center;
}

.sns_twitter a {
    background: url(../img/sns_tw.svg) no-repeat center;
}

.sns_naver a {
    background: url(../img/sns_nv.svg) no-repeat center;
    background-size: 100%;
}

.sns_wrap section {
    width: 33.3333%;
    height: 250px;
    float: left;
}

.facebook_content {
    background: #3b5998;
}

.twitter_content {
    background: #00aced;
}

.naver_content {
    background: #3eaf02;
}

.content_wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.content_wrap::-webkit-scrollbar {
    width: 0 !important;
}

.content_wrap p {
    width: 90%;
    border-bottom: 0.5px solid #fff;
    padding-bottom: 20px;
    margin: 0 auto;
}

.content_wrap p:last-child {
    border-bottom:none;
}

.sns_date {
    display: block;
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    text-align: center;
    padding: 20px 0 10px 0;
}

.sns_content {
    display: block;
    font-size: 13px;
    color: rgba(255,255,255,0.9);
    box-sizing: border-box;
    text-align: justify;
}

.naver_content .sns_content {
    text-align: center;
}

/*director*/

.director_wrap {
    float: left;
    width: 292px;
    height: 300px;
}

.director_title {
    width: 100%;
    height: 50px;
    background: #fff;
}

.director_title h3 {
    line-height: 50px;
    font-size: 18px;
    color: #555;
}

.director_title h3 span {
    float: left;
    margin-left: 20px;
    font-size: 18px;
}

.director_wrap figure {
    width: 100%;
    height: 250px;
    background: url(../img/han.png) no-repeat bottom;
    background-size: 70%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}

.director_wrap figure figcaption {
    position: relative;
    width: 70%;
    height: 100%;
    background: #6600ff;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.director_wrap figure:hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

figcaption::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}
