@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );
/*css reset*/
* {
	margin: 0;
	padding: 0;
}

 body, html { 
	width: 100%;
  }

 ul, li {
 	list-style: none;
 }

 a {
 	text-decoration: none;
 }

 img {
 	border: none;
 }

/*header*/

header {
    width: 100%;
    height: 180px;
    font-family : "Noto Sans KR";
}

.wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.top_header {
    width: 100%;
    height: 40px;
    background: forestgreen;
}

.bottom_header {
    width: 100%;
    height: 140px;
}

/*/////////////////////////////////*/

.top_menu { /*top 메뉴모음*/
    float: left;
    line-height: 40px;
}

.top_menu li {
    float: left;
    padding-right: 15px;
}

.top_menu li a {
    font-size: 14px;
    color: #f6fcf0;
    font-family : "Noto Sans KR";
}

.language { /*언어 선택*/
    float: right;
    border: none;
    background: none;
    color: #f6fcf0;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

.bottom_header > .wrap {
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -23.5px;
    display: inline-block;
}

#gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -370px;
    width: 850px;
    height: 100%;
}

#gnb > ul > li {
    float: left;
    width: 14.28%;
    text-align: center;
    line-height: 140px;
    position: relative;
}

#gnb > ul > li > a {
    font-size: 18px;
    color: #444444;
    font-family : "Noto Sans KR";
}

.sitemap { /*사이트맵*/
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../img/sitemap.svg) no-repeat;
    cursor: pointer;
}

/*depth2*/

.depth2 {
    position: absolute;
    width: 1200px;
    display: none;
    border-top: 1px solid #efefef;
    box-sizing: border-box;
}

.depth2 > .sub_wrap {
    width: 950px;
    position: relative;
    background: #fff;
}

.depth2 > .sub_wrap > ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.depth2 > .sub_wrap > ul > li {
    float: left;
}

.dep_title {
    width: 250px;
    height: 100%;
    background: forestgreen;
    float: left;
}

.dep_title p {
    font-size: 30px;
    color: aliceblue;
}

/*sub 위치 조정 & 메뉴 css*/

.sub1 {
/*    display: block;*/
    top: 140px;
    left: -230px;
    height: 300px;
}

.sub1 > .sub_wrap {
    height: 100%;
    float: left;
}

.sub1 > .sub_wrap > ul {
    width: 890px;
    height: 280px;
}


.sub1 > .sub_wrap > ul > li {
    width: 155px;
    height: 50px;
    margin: 20px;
    margin-right: 35px;
    float: left;
    line-height: 50px;
}

.sub1 > .sub_wrap > ul > li > a {
    display: block;
    color: #666;
    text-align: left;
/*    border-bottom: 1px solid #555;*/
}

.sub1 > .sub_wrap > ul > li > a:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    float: right;
    margin-left: 10px;
    margin-top: 22px;
}

.sub2 {
/*    display: block;*/
    top: 140px;
    left: -351px; /*-230*/
    height: 300px;
}

.sub2 > .sub_wrap {
    height: 100%;
    float: left;
}

.sub2 > .sub_wrap > ul {
    width: 890px;
    height: 280px;
}


.sub2 > .sub_wrap > ul > li {
    width: 180px;
    height: 50px;
    margin: 20px;
    float: left;
    line-height: 50px;
}

.sub2 > .sub_wrap > ul > li > a {
    display: block;
    color: #666;
    text-align: left;
/*    border-bottom: 1px solid #555;*/
}

.sub2 > .sub_wrap > ul > li > a:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    float: right;
    margin-left: 10px;
    margin-top: 20px;
}

/*figure*/

#visual {
    width: 100%;
    height: 678px;
}

.main_visual {
    width: 100%;
    height: 100%;
    background: url(../img/main_visual.svg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.search_wrap {
    margin: 0 auto;
    width: 450px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 130px;
    transition: 0.3s;
}

.search {
    width: 400px;
    height: 100%;
    float: left;
    border: 5px solid #ffa800;
    border-right: none;
    box-sizing: border-box;
}

.search_btn {
    width: 50px;
    height: 100%;
    border: none;
    background-color: #ffa800;
    background-image: url(../img/search.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*section1*/

#section1 {
    width: 100%;
    height: 800px;
    font-family : "Noto Sans KR";
    background-color: #fff;
    /*background-image: url(../img/white_wave.png);*/
}

.background_title {
    width: 100%;
    height: 80px;
    background: #F7F7F0;
    position: relative;
}

.donggu_title_wrap {
    width: 240px;
    height: 55px;
    margin: 0 auto;
    padding-top: 5px;
} 

.donggu_title {/*지금 동구는*/ 
    width: 100%;
    height: 100%;
    background: url(../img/title_donggu.svg) no-repeat;
    background-position: center;
    background-size: cover;
}

.title_arrow {
    width: 156px;
    height: 60px;
    background: url(../img/title_arrow.svg) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -78px;
    bottom: -60px;
}

#section1 .wrap {
    height: 100%;
    /*background: #f7ebeb;*/
    margin-top: 100px;
}

/*tab*/

.tab_wrap {
    width: 550px;/*반응형 시 변경사항*/
    height: 300px;
    float: left;
}

.tab_title_wrap {
    width: 100%;
    height: 50px;
}

.tab_title_wrap ul {
    width: 100%;
    height: 100%;
}

.tab_title_wrap ul li {
    width: 18%;/*ul의 90%를 5로 나눈 사이즈*/
    height: 100%;
    line-height: 50px;
    float: left;
    text-align: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-right: none;
    background: #f9f9f9;
}


.tab_title_wrap ul li:last-child {
    width: 10%;/*나머지 10%*/
    border: 1px solid #f26700;
    background-image: url(../img/plus.svg);
    background-color: #f26700;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    cursor: pointer;
}

.tab_title_wrap ul li:last-child a {
    display: none;
}

.tab_title_wrap ul li a {
    font-size: 16px;
    color: #555;
}

.tab_contents {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}

.tab_element {
    /*position: absolute;*/
    /*top: 0;*/
    width: 100%;
    height: 100%;
    display: none;
}

.element1 {
    display: block;
}

.top_element {
    width: 100%;
    height: 150px;
    position: relative;
}

.top_element:after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background: transparent;
    border-top: 1px dashed #ddd;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.top_element:before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 50%;
    float: left;
    margin-left: 15px;
    margin-top: 33px;
    background: url(../img/attachment.svg) no-repeat;
    background-position: center;
    background-size: 50%;
}

.top_element ul {
    width: 450px;/*반응형 시 변경사항*/
    float: right;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    margin-top: 18px;/*middle 위치 조절-1*/
}

.top_element ul li {
    width: 100%;
    height: 30px;/*middle 위치 조절-2*/
}

.top_element ul li a span {
    font-size: 14px;
}

.top_element .text {
    color: #666;
}

.top_element ul li a:hover .text {
    text-decoration: underline;
}

.top_element ul li a:hover .text:before {
    transform: rotate(35deg);
}

.text {
    float: left;
    width: 70%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 1px;
    transform: rotate(-35deg);
    background: #ddd;
    margin-right: 10px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.date {
    float: right;
    color: #bcbcbc;
    font-weight: lighter;
}

.bottom_element ul {
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    margin-top: 24px;
}

.bottom_element ul li {
    width: 100%;
    height: 30px;
}

.bottom_element ul li a span {
    font-size: 14px;
}

.bottom_element .text {
    color: #777;
}

.bottom_element ul li a:hover .text {
    text-decoration: underline;
}

.bottom_element ul li a:hover .text:before {
    transform: rotate(35deg);
}

.tab_element .align {
    padding: 40px 30px 0 30px;
    box-sizing: border-box;
}

.tab_element ul li {
    height: 30px;
}

.tab_element ul li a {
    font-size: 14px;
    color: #555;
}

/*pop-up*/

.popup {
    width: 298px;
    height: 300px;
    float: left;
    margin: 0 30px 0 30px;
}

.popup_button {
    width: 100%;
    height: 50px;
    background: #84bf37;
}

.popup_button h3 {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: normal;
    float: left;
}

.popup_button .button_wrap {
    margin-top: 10px;
    float: right;
}

.button_wrap button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.prev {
    background-image: url(../img/prev.png);
}

.play {
    background-image: url(../img/play.png);
}

.stop {
    background-image: url(../img/stop.png);
}

.next {
    background-image: url(../img/next.png);
}

.banner_wrap {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.banner_wrap ul {
    width: 1788px;
    height: 100%;
}

.banner_wrap ul li {
    width: 298px;
    height: 100%;
    float: left;
}

.banner_wrap ul li img {
    width: 100%;
    height: 100%;
}

/*director*/

.director_wrap {
    float: left;
    width: 292px;
    height: 300px;
/*    background-color: pink;*/
}

.top_talk, .bottom_talk {
    width: 100%;
    height: 70px;
    position: relative;
}

.top_talk:before, .bottom_talk:before {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background: #0090ff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    left: 200px;
    z-index: 1;
}

.bottom_talk:before {
    background: #ffc600;
    left: 70px;
}

.top_talk {
    background: #0090ff;
}

.bottom_talk {
    background: #ffc600;
}

.top_talk a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    text-align: center;
    vertical-align: middle;
}

.director {
    width: 100%;
    height: 160px;
    background: url(../img/han.jpg) no-repeat;
    background-position: left bottom;
    background-size: 50%;
    border: 1px solid #eee;
    border-top: none;
}

.director p {
    float: right;
    color: #535353;
    margin-top: 50px;
}
