body {
	background: #140e2d;
}

#constellation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50%;
}

line {
	stroke: #203af5;
	stroke-width: 5;
}

circle {
	opacity: 0;
	fill: #00d7f1;
	r: 8;
}

.line1 {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 1s forwards;
}

.line2 {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 0.6s;
}

.line3 {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: dash 1s forwards;
	animation-delay: 1.2s;
}

.line4 {
	stroke-dasharray: 130;
	stroke-dashoffset: 130;
	animation: dash 0.8s forwards;
	animation-delay: 1.8s;
}

.line5 {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation: dash 0.8s forwards;
	animation-delay: 2.4s;
}

.line6 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: dash 1s forwards;
	animation-delay: 3s;
}

.line7 {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 3.6s;
}

.line8 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: dash 1.3s forwards;
	animation-delay: 4.2s;
}

.line9 {
	stroke-dasharray: 150;
	stroke-dashoffset: 150;
	animation: dash 0.8s forwards;
	animation-delay: 4.7s;
}

.line10 { /*10,14 -1*/
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 5.2s;
}

.line11 { /*11,13 -2*/
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 5.6s;
}

.line12 { /* -3*/
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 6s;
}

.line13 { /*11,13 -2*/
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 5.6s;
}

.line14 { /*10,14 -1*/
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	animation: dash 0.8s forwards;
	animation-delay: 5.2s;
}

.line15 { /* -4*/
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation: dash 0.8s forwards;
	animation-delay: 6.4s;
}

/*@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
*/
#constellation {
	transition: 3s;
	animation: constellation 3s forwards;
	animation-delay: 7s;
}

