@media screen and (max-width: 1280px) {
	.header-wrap {
		height: 85px;
	}

	.logo {
		background-size: 95% 95%;
	}

	.header ul {
		right: 20px;
	}

	/*nav/////////////////////////////////////////*/

	.nav-wrap {
		height: 50px;
	}

	.nav ul {
		width: 60%;
	}

	.nav ul li a {
		margin-top: 15px;
	}

	.nav ul li a:after {
		height: 2px;
		margin-top: 10px;
	}

	/*/////////////////////////////////////////////*/

	/*content1//////////////////////////////////////*/

	.wrap {
		width: 1100px;
	}

	.bottom-text {
		font-size: 20px;
	}

	.iconbox a:hover {
		-webkit-transform: translateY(-8px);
		-o-transform: translateY(-8px);
		-moz-transform: translateY(-8px);
		-ms-transform: translateY(-8px);
	}

	.iconbox img {
		width: 60px;
		height: 60px;
	}

	.iconbox span {
		font-size: 14px;
	}

	/*//////////////////////////////////////////////////*/

	/*content2/////////////////////////////////////////*/

	.content2 .map-box {/*지도를 배경 안에 넣기 위해 position값 줌*/
		background-size: 90% 90%;
	}

	.map-box > label {
		width: 20px;
		height: 20px;
	}
		
	/*지도 이름 position absolute*/

	.content2  .map-box .map1 {
		position: absolute;
		bottom: 220px;
		left: 100px;
	}

	.content2  .map-box .map2 {
		position: absolute;
		top: 150px;
		left: 60px;
	}

	.content2  .map-box .map3 {
		position: absolute;
		top: 150px;
		left: 10px;
	}

	.content2  .map-box .map4 {
		position: absolute;
		top: 150px;
		right: 180px;
	}

	.content2  .map-box .map5 {
		position: absolute;
		top: 230px;
		right: 120px;
	}

	.content2  .map-box .map6 {
		position: absolute;
		bottom: 200px;
		right: 100px;
	}

	.content2  .map-box .map7 {
		position: absolute;
		top: 170px;
		left: 200px;
	}

	.content2  .map-box .map8 {
		position: absolute;
		top: 160px;
		right: 250px;
	}

	/*/////////////////////*/

	#map2 .natexp {
		margin-left: 0px;
	}

	#map4 .natexp {
		margin-left: 0px;
	}

	.mapWrap span {
		width: 30px;
	}

	/*/////////national img position///////////*/
	
	#map1 .natimg1 {
		width: 357px;
		height: 300px;
		background-image: url(../img/la1.jpg);
		right: 0;
		bottom: 0;
	}

	#map1 .natname {
		left: 100px;
		top: 250px;
		font-size: 50px;
	}

	#map2 .natimg1 {
		width: 480px;
		height: 280px;
		background-image: url(../img/ca.jpg);
		left: 0;
		bottom: 0;
	}

	#map3 .natimg1 {
		width: 230px;
		height: 230px;
		background-image: url(../img/al-1.jpg);
		right: 0;
		top: 0;
	}

	#map3 .natimg2 {
		width: 200px;
		height: 300px;
		background-image: url(../img/al-2.jpg);
		left: 30px;
		bottom: 0;
	}

	#map3 .natname {
		right: 0px;
		bottom: 100px;
		font-size: 100px;
	}

	#map4 .natimg1 {
		width: 450px;
		height: 250px;
		background-image: url(../img/ru.jpg);
		right: 0;
		bottom: 0;
	}

	#map5 .natimg1 {
		width: 250px;
		height: 250px;
		background-image: url(../img/ea.jpg);
		right: 0;
		top: 0px;
	}

	#map5 .natimg2 {
		width: 250px;
		height: 250px;
		background-image: url(../img/ea2.jpg);
		left: 0;
		bottom: 0px;
	}

	#map6 .natimg1 {
		width: 250px;
		height: 250px;
		background-image: url(../img/au1.jpg);
		right: 0;
		bottom: 0;
	}

	#map6 .natimg2 {
		width: 250px;
		height: 250px;
		background-image: url(../img/au2.jpg);
		left: 0;
		bottom: 0;
	}

	#map7 .natimg1 {
		width: 190px;
		height: 190px;
		background-image: url(../img/tm.jpg);
		right: 0;
		bottom: 0;
	}

	#map7 .natimg2 {
		width: 190px;
		height: 190px;
		background-image: url(../img/tm2.jpg);
		right: 150px;
		bottom: 150px;
	}

	#map7 .natname {
		right: 50px;
		top: 230px;
		font-size: 50px;
	}

	#map8 .natimg1 {
		width: 450px;
		height: 250px;
		background-image: url(../img/eu.jpg);
		bottom: 0;
		left: 80px;
	}

	#map8 .natname {
		right: 0px;
		bottom: 250px;
		font-size: 80px;
	}

	/*//////////////////////*/

	/*////////////////////////////////////////////*/

	/*content3//////////////////////////////////////////*/

	.button-box {
		width: 90%;/*990px*/
	}

	.allWrap {
		width: 90%;
		height: 495px;
	}

	.midImg > img {
		display: block;
		width: 100%;
		height: 100%;
	}

	.midImg > .textBox + img {
		display: block;
		width: 50%;
		height: 100%;
	}

	.textBox .title {
		font-size: 18px;
		padding-top: 50px;
	}

	.textBox .comment {
		font-size: 12px;
	}

	.textBox .more {
		font-size: 17px;
	}

	/*line Ani*/

	.lineAni {
		height: 227.5px;
	}

/*////////////////////////////////////////////////////////*/

/*/////////////////content4///////////////////////////*/
	.content4 {
		height: 450px;
	}

	.galWrap {
		width: 100%;
		height: 450px;
	}

	.gallery {
		width: 25%;
		height: 225px;
		float: left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		transition: 0.5s;
	}

/*//////////////////////////////////////////////////////*/


}

@media screen and (max-width: 1024px) {
	.header {
		width: 900px;
	}

	.nav {
		width: 900px;
	}


	/*content1//////////////////////////////////////*/

	.wrap {
		width: 900px;
	}

	.bottom-text {
		font-size: 18px;
	}

	.iconbox img {
		width: 50px;
		height: 50px;
	}

	/*//////////////////////////////////////////////////*/

	/*content2/////////////////////////////////////////*/
		
	/*지도 이름 position absolute*/

	.content2  .map-box .map1 {
		position: absolute;
		bottom: 140px;
		left: 80px;
	}

	.content2  .map-box .map2 {
		position: absolute;
		top: 140px;
		left: 50px;
	}

	.content2  .map-box .map3 {
		position: absolute;
		top: 120px;
		left: 10px;
	}

	.content2  .map-box .map4 {
		position: absolute;
		top: 30%;
		right: 35%;
	}

	.content2  .map-box .map5 {
		position: absolute;
		top: 180px;
		right: 100px;
	}

	.content2  .map-box .map6 {
		position: absolute;
		bottom: 155px;
		right: 80px;
	}

	.content2  .map-box .map7 {
		position: absolute;
		top: 140px;
		left: 200px;
	}

	.content2  .map-box .map8 {
		position: absolute;
		top: 130px;
		right: 220px;
	}

	/*/////////////////////*/

	.mapWrap h2 {
		margin: 10px 0;
	}

	.mapWrap span {
		margin-bottom: 10px;
		height: 1px;
	}

	.mapWrap p {
		font-size: 13px;
	}

	.resBtn {
		width: 80px;
	}

	.resBtn .eff {
		width: 80px;
	}

	/*/////////national img position///////////*/
	
	#map1 .natimg1 {
		width: 257px;
		height: 200px;
		background-image: url(../img/la1.jpg);
		right: 0;
		bottom: 0;
	}

	#map1 .natname {
		left: 100px;
		top: 260px;
		font-size: 40px;
	}

	#map2 .natimg1 {
		width: 380px;
		height: 180px;
		background-image: url(../img/ca.jpg);
		left: 0;
		bottom: 0;
	}

	#map2 .natname {
		right: 60px;
		top: 200px;
		font-size: 50px;
	}

	#map3 .natimg1 {
		width: 150px;
		height: 200px;
		background-image: url(../img/al-1.jpg);
		right: 0;
		bottom: 50px;
	}

	#map3 .natimg2 {
		width: 130px;
		height: 230px;
		background-image: none;
		right: 0;
		bottom: 0;
	}

	#map3 .natname {
		right: 0px;
		bottom: 100px;
		font-size: 80px;
	}

	#map4 .natimg1 {
		width: 380px;
		height: 180px;
		background-image: url(../img/ru.jpg);
		left: 0;
		bottom: 0;
	}

	#map5 .natimg1 {
		width: 180px;
		height: 180px;
		background-image: url(../img/ea.jpg);
		right: 0;
		top: 0px;
	}

	#map5 .natimg2 {
		width: 180px;
		height: 180px;
		background-image: url(../img/ea2.jpg);
		left: 0;
		bottom: 0px;
	}

	#map5 .natname {
		right: 0px;
		bottom: 80px;
		font-size: 40px;
		text-align: right;
	}

	#map6 .natimg1 {
		width: 150px;
		height: 150px;
		background-image: url(../img/au1.jpg);
		right: 0;
		bottom: 0;
	}

	#map6 .natimg2 {
		width: 150px;
		height: 150px;
		background-image: url(../img/au2.jpg);
		right: 0px;
		bottom: 0;
	}

	#map7 .natimg1 {
		width: 150px;
		height: 150px;
		background-image: url(../img/tm.jpg);
		right: 0;
		bottom: 0;
	}

	#map7 .natimg2 {
		width: 150px;
		height: 150px;
		background-image: url(../img/tm2.jpg);
		right: 100px;
		bottom: 100px;
	}

	#map7 .natname {
		right: 150px;
		top: 230px;
		font-size: 30px;
	}

	#map8 .natimg1 {
		width: 370px;
		height: 170px;
		background-image: url(../img/eu.jpg);
		bottom: 0;
		left: 80px;
	}

	#map8 .natname {
		right: 0px;
		bottom: 180px;
		font-size: 50px;
	}

	/*//////////////////////*/

	/*////////////////////////////////////////////*/

	/*content3//////////////////////////////////////////*/

	.button-box label {
		font-size: 13px;
		height: 40px;
		line-height: 40px;
	}

	.button-box {
		width: 90%;
	}

	.allWrap {
		width: 90%;
		height: 405px;
	}

	.midImg > img {
		display: block;
		width: 100%;
		height: 100%;
	}

	.midImg > .textBox + img {
		display: block;
		width: 50%;
		height: 100%;
	}

	.textBox .title {
		font-size: 15px;
		padding-top: 30px;
	}

	.textBox .comment {
		font-size: 11px;
	}

	.textBox .more {
		font-size: 14px;
	}

	/*line Ani*/

	.lineAni {
		height: 182.5px;
	}

/*////////////////////////////////////////////////////////*/

/*//////////////////content4///////////////////////////*/
	.content4 {
		height: 350px;
	}

	.galWrap {
		width: 100%;
		height: 350px;
	}

	.gallery {
		width: 25%;
		height: 175px;
		float: left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		transition: 0.5s;
	}

/*////////////////////////////////////////////////////////*/

}

@media screen and (max-width: 768px) {
	.header {
		width: 700px;
	}

	.header ul {
		display: none;
	}

	.nav-wrap {
		display: none;
	}

	.nav {
		display: none;
	}

	/*content1//////////////////////////////////////*/

	.wrap {
		width: 700px;
	}

	.top-text {
		font-size: 12px;
	}

	.bottom-text {
		font-size: 15px;
		font-weight: bolder;
	}

	.top-text {	
		font-weight: bolder;
	}

	/*//////////////////////////////////////////////////*/

	/*content2/////////////////////////////////////////*/

	.content2 {
		height: 1000px;
	}

	.content2 .map-box {/*지도를 배경 안에 넣기 위해 position값 줌*/
		width: 100%;
		height: 100%;
		position: relative;
		background-image: url(../img/map-01.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 80% 80%;
	}
	
	/*지도 이름 position absolute*/

	.content2  .map-box .map1 {
		position: absolute;
		bottom: 100px;
		left: 190px;
	}

	.content2  .map-box .map2 {
		position: absolute;
		top: 70px;
		left: 135px;
	}

	.content2  .map-box .map3 {
		position: absolute;
		top: 50px;
		left: 100px;
	}

	.content2  .map-box .map4 {
		position: absolute;
		top: 50px;
		right: 35%;
	}

	.content2  .map-box .map5 {
		position: absolute;
		top: 140px;
		right: 150px;
	}

	.content2  .map-box .map6 {
		position: absolute;
		bottom: 100px;
		right: 120px;
	}

	.content2  .map-box .map7 {
		position: absolute;
		top: 70px;
		left: 300px;
	}

	.content2  .map-box .map8 {
		position: absolute;
		top: 80px;
		left: 330px;
	}

	/*/////////////////////*/

	.mapWrap {
		width: 100%;
		height: 520px;
	}

	.mapWrap h2 {
		margin: 15px 0;
	}

	.mapWrap span {
		margin-bottom: 15px;
		height: 0.9px;
	}

	.mapWrap p {
		font-size: 13px;
		width: 60%;
	}

	#map5 p {
		width: 47%;
	}
	
	.mapWrap .natexp {
		margin-left: 0px;
	}

	#map2 .natexp {
		margin-left: 0px;
	}

	#map4 .natexp {
		margin-left: 0px;
	}

	#map5 .natexp {
		margin-left: 0px;
	}

	#map6 .natexp {
		margin-left: 0px;
	}

	#map8 .natexp {
		margin-left: 0px;
	}

	.resBtn {
		width: 100px;
	}

	.resBtn .eff {
		width: 100px;
	}

	/*/////////national img position///////////*/
	
	#map1 .natimg1 {
		width: 357px;
		height: 300px;
		background-image: url(../img/la1.jpg);
		right: 0;
		bottom: 0;
	}

	#map1 .natname {
		left: 100px;
		top: 260px;
		font-size: 80px;
	}

	#map2 .natimg1 {
		width: 500px;
		height: 300px;
		background-image: url(../img/ca.jpg);
		left: 50%;
		bottom: 0;
		margin-left: -250px;
	}

	#map2 .natname {
		right: 60px;
		top: 180px;
		font-size: 60px;
	}

	#map3 .natimg1 {
		width: 150px;
		height: 200px;
		background-image: none;
		left: 0;
		bottom: 0;
	}

	#map3 .natimg2 {
		width: 230px;
		height: 330px;
		background-image: url(../img/al-2.jpg);
		left: 0;
		bottom: 0;
	}

	#map3 .natname {
		right: 0px;
		bottom: 0px;
		font-size: 130px;
	}

	#map4 .natimg1 {
		width: 500px;
		height: 300px;
		background-image: url(../img/ru.jpg);
		left: 0;
		bottom: 0;
	}

	#map4 .natname {
		right: 0px;
		top: 110px;
		font-size: 100px;
	}

	#map5 .natimg1 {
		width: 280px;
		height: 280px;
		background-image: url(../img/ea.jpg);
		right: 0;
		top: 0px;
	}

	#map5 .natimg2 {
		width: 310px;
		height: 310px;
		background-image: url(../img/ea2.jpg);
		left: 0;
		bottom: 0px;
	}

	#map5 .natname {
		right: 0px;
		bottom: 50px;
		font-size: 80px;
		text-align: right;
	}

	#map6 .natimg1 {
		width: 315px;
		height: 315px;
		background-image: url(../img/au1.jpg);
		right: 0;
		bottom: 0;
	}

	#map6 .natimg2 {
		width: 315px;
		height: 315px;
		background-image: url(../img/au2.jpg);
		left: 0px;
		bottom: 0;
	}

	#map6 .natname {
		font-size: 40px;
		text-align: right;
		bottom: 0;
		right: 0;
	}

	#map7 .natimg1 {
		width: 240px;
		height: 240px;
		background-image: url(../img/tm.jpg);
		right: 0;
		bottom: 0;
	}

	#map7 .natimg2 {
		width: 240px;
		height: 240px;
		background-image: url(../img/tm2.jpg);
		right: 140px;
		bottom: 140px;
	}

	#map7 .natname {
		right: 200px;
		bottom: 10px;
		font-size: 60px;
	}

	#map8 .natimg1 {
		background-image: url(../img/eu.jpg);
		width: 450px;
		height: 250px;
		left: 0;
		bottom: 0;
	}

	#map8 .natname {
		right: 0px;
		bottom: 200px;
		font-size: 90px;
	}

	/*//////////////////////*/

	/*////////////////////////////////////////////*/

	/*content3//////////////////////////////////////////*/

	.button-box label {
		font-size: 12px;
		height: 40px;
		line-height: 40px;
	}

	.button-box {
		width: 90%;
	}

	.allWrap {
		width: 90%;
		height: 315px;
	}

	.midImg > img {
		display: block;
		width: 100%;
		height: 100%;
	}

	.midImg > .textBox + img {
		display: block;
		width: 50%;
		height: 100%;
	}

	.textBox .title {
		font-size: 13px;
		padding-top: 20px;
	}

	.textBox .comment {
		font-size: 8px;
		padding: 15px;
	}

	.textBox .more {
		font-size: 10px;
		margin: 0px;
	}

	/*line Ani*/

	.lineAni {
		width: 94%;
		height: 147.5px;
		top: 5px;
		left: 3%;
	}

/*////////////////////////////////////////////////////////*/

/*//////////////////content4///////////////////////////*/
	.content4 {
		height: 250px;
	}

	.galWrap {
		width: 100%;
		height: 250px;
	}

	.gallery {
		width: 25%;
		height: 125px;
		float: left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		transition: 0.5s;
	}

	/*/////////////footer//////////////////////*/

	.ftRes p {
		margin-bottom: 15px;
		font-size: 14px;
	}

	.ftRes ul li a {
		font-size: 11px;
	}

	/*//////////////////////////////////////////*/

	/*//////////////////toggle button//////////*/

	.btnWrap {
		display: block;/*//////////////////////mobile에서 block*/
	}

}

/*////////////////////////////////////////////////////////*/

@media screen and (max-width: 640px) {
	.header {
		width: 100%;
	}

	/*content1//////////////////////////////////////*/

	.wrap {
		width: 90%;
	}

	.iconbox img {
		width: 45px;
		height: 45px;
	}

	.iconbox span {
		font-size: 12px;
	}

	/*//////////////////////////////////////////////////*/

	/*content2/////////////////////////////////////////*/

	.content2 .map-box {/*지도를 배경 안에 넣기 위해 position값 줌*/
		width: 100%;
		height: 100%;
		position: relative;
		background-image: url(../img/map-01.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 90% 90%;
	}
	
	/*지도 이름 position absolute*/

	.content2  .map-box .map1 {
		position: absolute;
		bottom: 80px;
		left: 140px;
	}

	.content2  .map-box .map2 {
		position: absolute;
		top: 50px;
		left: 85px;
	}

	.content2  .map-box .map3 {
		position: absolute;
		top: 30px;
		left: 50px;
	}

	.content2  .map-box .map4 {
		position: absolute;
		top: 30px;
		right: 35%;
	}

	.content2  .map-box .map5 {
		position: absolute;
		top: 120px;
		right: 100px;
	}

	.content2  .map-box .map6 {
		position: absolute;
		bottom: 80px;
		right: 80px;
	}

	.content2  .map-box .map7 {
		position: absolute;
		top: 50px;
		left: 250px;
	}

	.content2  .map-box .map8 {
		position: absolute;
		top: 60px;
		left: 270px;
	}

	/*/////////////////////*/


	/*/////////national img position///////////*/
	
	#map1 .natimg1 {
		width: 357px;
		height: 300px;
		background-image: url(../img/la1.jpg);
		right: 0;
		bottom: 0;
	}

	#map1 .natname {
		left: 100px;
		top: 260px;
		font-size: 80px;
	}

	#map2 .natimg1 {
		width: 500px;
		height: 300px;
		background-image: url(../img/ca.jpg);
		left: 50%;
		bottom: 0;
		margin-left: -250px;
	}

	#map2 .natname {
		right: 60px;
		top: 180px;
		font-size: 60px;
	}

	#map3 .natimg1 {
		width: 150px;
		height: 200px;
		background-image: none;
		left: 0;
		bottom: 0;
	}

	#map3 .natimg2 {
		width: 230px;
		height: 330px;
		background-image: url(../img/al-2.jpg);
		left: 0;
		bottom: 0;
	}

	#map3 .natname {
		right: 0px;
		bottom: 0px;
		font-size: 130px;
	}

	#map4 .natimg1 {
		width: 500px;
		height: 300px;
		background-image: url(../img/ru.jpg);
		left: 0;
		bottom: 0;
	}

	#map4 .natname {
		right: 0px;
		top: 110px;
		font-size: 100px;
	}

	#map5 .natimg1 {
		width: 50%;
		height: 50%;
		background-image: url(../img/ea.jpg);
		right: 0;
		top: 0px;
	}

	#map5 .natimg2 {
		width: 50%;
		height: 50%;
		background-image: url(../img/ea2.jpg);
		left: 0;
		bottom: 0px;
	}

	#map5 .natname {
		right: 0px;
		bottom: 50px;
		font-size: 80px;
		text-align: right;
	}

	#map6 .natimg1 {
		width: 50%;
		height: 50%;
		background-image: url(../img/au1.jpg);
		right: 0;
		bottom: 0;
	}

	#map6 .natimg2 {
		width: 50%;
		height: 50%;
		background-image: url(../img/au2.jpg);
		left: 0px;
		bottom: 0;
	}

	#map6 .natname {
		font-size: 40px;
		text-align: right;
		bottom: 0;
		right: 0;
	}

	#map7 .natimg1 {
		width: 240px;
		height: 240px;
		background-image: url(../img/tm.jpg);
		right: 0;
		bottom: 0;
	}

	#map7 .natimg2 {
		width: 240px;
		height: 240px;
		background-image: url(../img/tm2.jpg);
		right: 140px;
		bottom: 140px;
	}

	#map7 .natname {
		right: 200px;
		bottom: 10px;
		font-size: 50px;
	}

	#map8 .natimg1 {
		background-image: url(../img/eu.jpg);
		width: 450px;
		height: 250px;
		left: 0;
		bottom: 0;
	}

	#map8 .natname {
		right: 0px;
		bottom: 200px;
		font-size: 90px;
	}

	/*//////////////////////*/

	/*////////////////////////////////////////////*/

	/*content3//////////////////////////////////////////*/

	.button-box label {
		font-size: 11px;
		height: 35px;
		line-height: 35px;
	}

	.button-box {
		width: 90%; 
	}

	.allWrap {
		width: 90%;
		height: 259.2px;
	}

	.midImg > img {
		display: block;
		width: 100%;
		height: 100%;
	}

	.midImg > .textBox + img {
		display: block;
		width: 50%;
		height: 100%;
	}

	.textBox .title {
		font-size: 15px;
		padding-top: 40px;
	}

	.textBox .comment {
		display: none;
	}

	.textBox .more {
		font-size: 10px;
		margin: 10px;
	}

	/*line Ani*/

	.lineAni {
		width: 94%;
		height: 119.6px;
		top: 5px;
		left: 3%;
	}

/*////////////////////////////////////////////////////////*/

/*//////////////////content4///////////////////////////*/

	.content4 {
		height: calc(114px*2);
	}

	.galWrap {
		width: 100%;
		height: calc(114px*2);
	}

	.gallery {
		width: 25%;
		height: 114px;
		float: left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		transition: 0.5s;
	}

	.galText img {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		transition: .3s;
	}

	/*/////////////footer//////////////////////*/

	.ftRes p {
		margin-bottom: 15px;
		font-size: 1.3vw;
	}

	.ftRes ul li a {
		font-size: 1.4vw;
	}

	/*//////////////////////////////////////////*/

	/*//////////////////toggle button//////////*/

	.btnWrap {
		display: block;/*//////////////////////mobile에서 block*/
	}

}

/*////////////////////////////////////////////////////////*/

@media screen and (max-width: 480px) {
	.content1 {
		height: 100%;
	}

	.iconbox {
		width: 33.3333%;
	}

	.iconbox img {
		width: 50px;
		height: 50px;
	}

	.iconbox span {
		font-size: 13px;
	}

	/*//////////////////////////////////////////////////*/

	/*content2/////////////////////////////////////////*/

	.content2 .map-box {/*지도를 배경 안에 넣기 위해 position값 줌*/
		width: 100%;
		height: 100%;
		position: relative;
		background-image: url(../img/map-01.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 90% 90%;
	}
	.mapWrap {
		width: 100%;
		clear: both;
	}
	
	/*지도 이름 position absolute*/

	.content2  .map-box .map1 {
		position: absolute;
		bottom: 30%;
		left: 23%;
	}

	.content2  .map-box .map2 {
		position: absolute;
		top: 18%;
		left: 13%;
	}

	.content2  .map-box .map3 {
		position: absolute;
		top: 15%;
		left: 4%;
	}

	.content2  .map-box .map4 {
		position: absolute;
		top: 15%;
		right: 30%;
	}

	.content2  .map-box .map5 {
		position: absolute;
		top: 45%;
		right: 13%;
	}

	.content2  .map-box .map6 {
		position: absolute;
		bottom: 30%;
		right: 8%;
	}

	.content2  .map-box .map7 {
		position: absolute;
		top: 23%;
		left: 50%;
	}

	.content2  .map-box .map8 {
		position: absolute;
		top: 20%;
		left: 45%;
	}

	/*/////////////////////*/


	/*/////////national img position///////////*/
	
	#map1 .natimg1 {
		width: calc(357px*0.9);
		height: calc(300px*0.9);
		background-image: url(../img/la1.jpg);
		right: 0;
		bottom: 0;
	}

	#map1 .natname {
		left: 100px;
		top: 260px;
		font-size: calc(80px*0.9);
	}

	#map2 .natimg1 {
		width: calc(500px*0.9);
		height: calc(300px*0.9);
		background-image: url(../img/ca.jpg);
		left: 50%;
		bottom: 0;
		margin-left: calc(-250px*0.9);
	}

	#map2 .natname {
		right: 60px;
		top: 180px;
		font-size: 60px;
	}

	#map3 .natimg1 {
		width: calc(150px*0.9);
		height: calc(200px*0.9);
		background-image: none;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}

	#map3 .natimg2 {
		width: 230px;
		height: 330px;
		background-image: url(../img/al-2.jpg);
		left: 0;
		bottom: 0;
	}

	#map3 .natname {
		right: 0px;
		bottom: 0px;
		font-size: 130px;
	}

	#map4 .natimg1 {
		width: 500px;
		height: 300px;
		background-image: url(../img/ru.jpg);
		left: 0;
		bottom: 0;
	}

	#map4 .natname {
		right: 0px;
		top: 110px;
		font-size: 100px;
	}

	#map5 .natimg1 {
		width: 180px;
		height: 180px;
		background-image: url(../img/ea.jpg);
		right: 0;
		top: 100px;
	}

	#map5 .natimg2 {
		width: 180px;
		height: 180px;
		background-image: url(../img/ea2.jpg);
		left: 0;
		bottom: 80px;
	}

	#map5 .natname {
		right: 0px;
		bottom: 50px;
		font-size: 60px;
		text-align: right;
	}

	#map6 .natimg1 {
		width: 195px;
		height: 195px;
		background-image: url(../img/au1.jpg);
		right: 0;
		bottom: 0;
	}

	#map6 .natimg2 {
		width: 195px;
		height: 195px;
		background-image: url(../img/au2.jpg);
		left: 0px;
		bottom: 0;
	}

	#map6 .natname {
		font-size: 40px;
		text-align: right;
		bottom: 30px;
		right: 0;
	}

	#map7 .natimg1 {
		width: calc(240px*0.7);
		height: calc(240px*0.7);
		background-image: url(../img/tm.jpg);
		right: 0;
		bottom: 0;
	}

	#map7 .natimg2 {
		width: calc(240px*0.7);
		height: calc(240px*0.7);
		background-image: url(../img/tm2.jpg);
		right: 140px;
		bottom: 140px;
	}

	#map7 .natname {
		right: 30px;
		bottom: 10px;
		font-size: calc(50px*0.8);
	}

	#map8 .natimg1 {
		background-image: url(../img/eu.jpg);
		width: 450px;
		height: 250px;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}

	#map8 .natname {
		right: 0px;
		bottom: 230px;
		font-size: 90px;
	}

	/*//////////////////////*/

	/*////////////////////////////////////////////*/

	/*content3//////////////////////////////////////////*/

	.button-box {
		width: 80%; /*345.6px*/
	}

	.button-box label {
		font-size: 11px;
		height: 25px;
		margin-bottom: 15px;
		border: none;
		background: transparent;
	}

	.button-box label:nth-child(1) {
		border-left: none;
	}

	.allWrap .bigImg:nth-child(1) {
		display: none;
	}

	.content3 .allWrap {
		height: 100%;
	}

	.imgWrap {
		width: 90%;
		height: 90%;
		clear: both;
		display: none;
		box-sizing: border-box;
		margin: 0 auto;

	}

	.bigImg {
		width: 100%;
		height: 100%;
		float: none;
	}

	.midImg {
		clear: both;
		width: 100%;
		height: 100%;
	}

	.content3 .textBox {
		width: 50%;
		height: 174.95px;
		float: left;
		text-align: center;
		position: relative;
	}

	.textBox .title {
		font-size: 15px;
		padding-top: 35px;
	}

	.textBox .comment {
		display: block;
		font-size: 11px;
		padding: 14px;
	}

	.textBox .more {
		font-size: 10px;
		margin: 0px;
	}

	/*line Ani*/

	.lineAni {
		width: 94%;
		height: 162.8px;
		top: 5px;
		left: 3%;
	}

	#ra1:checked ~ .button-box .btn1 {
		background: none;
		font-weight: bold;
		color: #333;
	}

	#ra2:checked ~ .button-box .btn2 {
		background: none;
		font-weight: bold;
		color: #333;
	}

	#ra3:checked ~ .button-box .btn3 {
		background: none;
		font-weight: bold;
		color: #333;
	}

	#ra4:checked ~ .button-box .btn4 {
		background: none;
		font-weight: bold;
		color: #333;
	}

	#ra5:checked ~ .button-box .btn5 {
		background: none;
		font-weight: bold;
		color: #333;
	}

/*////////////////////////////////////////////////////////*/

/*//////////////////content4///////////////////////////*/
	.content4 {
		height: 100%;
	}

	.galWrap {
		width: 100%;
		height: 100%;
	}

	.gallery {
		width: 50%;
		height: 166px;
	}

	/*/////////////footer//////////////////////*/

	.ftRes p {
		margin-bottom: 15px;
		font-size: 12px;
	}

	.ftRes ul li a {
		font-size: 10px;
	}

	/*//////////////////////////////////////////*/

}

/*////////////////////////////////////////////////////////*/
