@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

* {
	padding: 0;
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	border: none;
}

body {
	font-size: 18px;
}

/*header/////////////////////////////////////*/

.header-wrap {
	width: 100%;
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
}

.header {
	width: 1200px;
	height: 100%;
	/*background-color: blue;*/
	margin: 0 auto;
	position: relative;
}

.logo {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 129px;
	height: 50px;
	background-image: url(../img/logo.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header ul {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.header ul li {
	float: left;
	padding-left: 30px;
}

.header ul li a {
	font-size: 13px;
	color: #555;
}

/*nav/////////////////////////////////////////*/

.nav-wrap {
	width: 100%;
	height: 60px;
	background: #fff;
}

.nav {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/*background-color: orangered;*/
	position: relative;
}

.nav ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.nav ul li {
	float: left;
	padding-left: 50px;
}

.nav ul li a {
	font-size: 15px;
	color: #555;
}

/*/////////////////////////////////////////////*/

/*////////////////////////////////////////*/

/*section-visual//////////////////////////////////*/

.visual img {
	width: 100%;
	height: 100%;
}

/*//////////////////////////////////////////////*/

/*content1//////////////////////////////////////*/

.content1 {
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
	/*background-color: yellow;*/
}

.content1 .wrap {
	border-bottom: 1px solid #f0f0f0;
}

/*밑에서도 참조*/

.wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/*background-color: lightyellow;*/
}

.top-text {
	font-size: 14px;
	color: #0463aa;
	font-weight: bold;
}

.bottom-text {
	color: #333;
	font-size: 22px;
	font-weight: bold;
}

/*//////////////////*/

.iconbox {
	margin-top: 30px;
	text-align: center;
	float: left;
	width: 16.6666%;
}

.iconbox a {
	cursor: pointer;
}

.iconbox a:hover span {
	border-bottom: 1px solid #333;
}

.iconbox img {
	width: 70px;
	height: 70px;
}

.iconbox span {
	font-size: 15px;
}

/*//////////////////////////////////////////////////*/

/*content2/////////////////////////////////////////*/

.content2 {
	width: 100%;
	height: 500px;
	margin: 50px 0;
}

.content2 .map-box {/*지도를 배경 안에 넣기 위해 position값 줌*/
	position: relative;
}

/*map 요소 position: absolute */

.content2  .map-box .map1 {
	position: absolute;
	top: 300px;
	left: 200px;
}

/*/////////////////////////////*/

.mapWrap {
	display: none;
}

#map1 {
	width: 100%;
	height: 100%;
	background: url(../img/aurora1.jpg);
}

#map2 {
	width: 100%;
	height: 100%;
	background: url(../img/aurora2.jpg);
}

#LA:checked ~ .allWrap #map1 {
	display: block;
}

#CA:checked ~ .allWrap #map2 {
	display: block;
}

#AL:checked ~ .allWrap #map3 {
	display: block;
}

#RU:checked ~ .allWrap #map4 {
	display: block;
}

#EA:checked ~ .allWrap #map5 {
	display: block;
}

#AU:checked ~ .allWrap #map6 {
	display: block;
}

#TM:checked ~ .allWrap #map7 {
	display: block;
}

#EU:checked ~ .allWrap #map8 {
	display: block;
}


/*//////////////////////////////////////////////////*/

/*content3//////////////////////////////////////////*/

.content3 {
	background: #f9f9f9;
}

.content3 .wrap {
	padding: 50px 0;
}

.ra-contents {
	display: none;	
}

.button-box {
	clear: both;
	width: 100%;
	text-align: center;
	height: 50px;
}

.button-box label {
	color: #333;
	margin-top: 30px;
	cursor: pointer;
	display: block;
	width: 20%;
	height: 50px;
	font-size: 15px;
	background: #fff;
	border: 0.5px solid #eee;
	border-bottom: none;
	border-left: none;
	float: left;
	line-height: 50px;
	box-sizing: border-box;
}

.button-box label:nth-child(1) {
	border-left: 0.5px solid #eee;
}

.allWrap {
	clear: both;
	width: 100%;
	height: 600px;
}

.imgWrap {
	width: 100%;
	height: 100%;
	clear: both;
	display: none;
	box-sizing: border-box;
}

.bigImg {
	width: 50%;
	height: 100%;
	float: left;
}

.bigImg > img {
	display: block;
	width: 100%;
	height: 100%;
}

.midImg {
	clear: both;
	width: 100%;
	height: 50%;
}

.content3 .textBox {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
}

.content3 .t-bg1 {
	background-color: #7e7b15;
}

.content3 .t-bg2 {
	background-color: #b6452c;
}

.content3 .t-bg3 {
	background-color: #1995ad;
}

.content3 .t-bg4 {
	background-color: #db9501;
}

.content3 .t-bg5 {
	background-color: #301b28;
}

.textBox .title {
	font-size: 20px;
	padding-top: 60px;
	color: #fff;
}

.textBox .comment {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	font-size: 14px;
	color: #fff;
}

.textBox .more {
	display: block;
	color: #fff;
}

/*line Ani*/

.lineAni {
	width: 92%;
	height: 280px;
	position: absolute;
	left: 4%;
	top: 10px;
	transition: 0.5s;
}

.lineFrame {
	width: 100%;
	height: 100%;
	position: relative;
}

.lineAni span {
	display: block;
	background: #fff;
	position: absolute;
	transition: 0.6s;
}

.top {
	width: 0;
	height: 1px;
	left: 0;
	top: 0;
	opacity: 0;
}

.bottom {
	width: 0;
	height: 1px;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.left {
	width: 1px;
	height: 0;
	left: 0;
	top: 0;
	opacity: 0;
}

.right {
	width: 1px;
	height: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.textBox:hover .top {
	width: 100%;
	opacity: 1;
}

.textBox:hover .bottom {
	width: 100%;
	opacity: 1;
}

.textBox:hover .left {
	height: 100%;
	opacity: 1;
}

.textBox:hover .right {
	height: 100%;
	opacity: 1;
}

/*/////////*/

#ra1:checked ~ .allWrap #tab1 {
	display: block;
}

#ra2:checked ~ .allWrap #tab2 {
	display: block;
}

#ra3:checked ~ .allWrap #tab3 {
	display: block;
}

#ra4:checked ~ .allWrap #tab4 {
	display: block;
}

#ra5:checked ~ .allWrap #tab5 {
	display: block;
}

#ra1:checked ~ .button-box .btn1 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra2:checked ~ .button-box .btn2 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra3:checked ~ .button-box .btn3 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra4:checked ~ .button-box .btn4 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra5:checked ~ .button-box .btn5 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

/*////////////////////////////////////////////////////////*/

/* content4/////////////////////////////////////////////////*/

.content4 {
	width: 100%;
	height: 400px;
	background: url(../img/bg1.jpg) no-repeat;
}

.content4 .wrap {
}

/*///////////////////////////////////////////////////////////*/

/* content5 //////////////////////////////////////////////*/
.content5 {
	margin: 50px 0;
	width: 100%;
	height: 500px;
}

.galWrap {
	width: 100%;
	height: 500px;
}

.gallery {
	width: 25%;
	height: 250px;
	background-color: red;float: left;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	transition: 0.5s;
}

.gallery1 {
	background-image: url(../img/gal1.jpg);
}

.gallery2 {
	background-image: url(../img/gal7.jpg);
}

.gallery3 {
	background-image: url(../img/gal4.jpg);
}

.gallery4 {
	background-image: url(../img/gal5.jpg);
}

.gallery5 {
	background-image: url(../img/gal3.jpg);
}

.gallery6 {
	background-image: url(../img/gal6.jpg);
}

.gallery7 {
	background-image: url(../img/gal2.jpg);
}

.galleryText {
	background-color: #fff;
}

.galText {
	position: relative;
}

.galText img {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	transition: .3s;
}

.galText img:hover {
	transform: rotate(180deg);

}

.gallery:hover {
	background-size: 110% 110%;
}

/*//////////////////////////////////////////////////////////////*/