@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

* {
	padding: 0;
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	border: none;
}

body {
	font-size: 18px;
}

/*header/////////////////////////////////////*/

.none {
	display: none;
}

.header-wrap {
	width: 100%;
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
	transition: all .5s;
}

.header {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.logo {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 129px;
	height: 50px;
	background-image: url(../img/logo.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header ul {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.header ul li {
	float: left;
	padding-left: 30px;
}

.header ul li a {
	font-size: 13px;
	color: #555;
}


/*nav/////////////////////////////////////////*/

.nav-wrap {
	width: 100%;
	height: 60px;
	background: #fff;
	transition: all .5s;
}

.nav {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.nav ul {
	width: 65%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.nav ul li {
	width: 16.6666%;
	float: left;
	text-align: center;
}

.nav ul li a {
	font-size: 15px;
	color: #555;
	clear: both;
	display: block;
	margin-top: 18px;
}

.nav ul li a:after {
	clear: both;
	content: "";
	display: block;
	width: 1px;
	height: 3px;
	background: rgba(255,255,255,0);
	margin-top: 18px;
	transition: .4s;
	text-align: center;
}

.nav ul li a:hover::after {
	width: 100%;
	background: #526369;
}

/*/////////////////////////////////////////////*/

/*////////////////////////////////////////-header*/


/*section-visual//////////////////////////////////*/

.visual img {
	width: 100%;
	height: 100%;
}

/*//////////////////////////////////////////////*/

/*content1//////////////////////////////////////*/

.content1 {
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
}

/*밑에서도 참조*/

.wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	transition: all .5s;
}

.top-text {
	font-size: 14px;
	color: #0463aa;
	font-weight: bold;
}

.bottom-text {
	color: #333;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

/*//////////////////*/

.iconbox {
	margin-top: 30px;
	text-align: center;
	float: left;
	width: 16.6666%;
}

.iconbox a {
	display: block;
	cursor: pointer;
	transition: 0.3s;
}

.iconbox a:hover {
	-webkit-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
}

.iconbox img {
	width: 70px;
	height: 70px;
}

.iconbox span {
	font-size: 15px;
}

/*//////////////////////////////////////////////////*/

/*content2/////////////////////////////////////////*/

.content2 {
	width: 100%;
	background: -moz-linear-gradient(-45deg, #f2f0eb 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f2f0eb 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f2f0eb 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f0eb', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.content2 .wrap {
	padding: 50px 0;
}

.content2 .map-box {/*지도를 배경 안에 넣기 위해 position값 줌*/
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	background-image: url(../img/map-01.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}


.map-box > label {
	cursor: pointer;
	transition: 1s;
	width: 25px;
	height: 25px;
	background: url(../img/arrow.svg) no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.5;
}

.map-box > label:hover {
	-webkit-animation: scale 0.7s infinite linear;
	-o-animation: scale 0.7s infinite linear;
	-moz-animation: scale 0.7s infinite linear;
	-ms-animation: scale 0.7s infinite linear;
}

@keyframes scale {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); opacity: 0.8; }
	100% { transform: scale(1); }

}
	
/*지도 이름 position absolute*/

.content2  .map-box .map1 {
	position: absolute;
	bottom: 190px;
	left: 140px;
}

.content2  .map-box .map2 {
	position: absolute;
	top: 180px;
	left: 100px;
}

.content2  .map-box .map3 {
	position: absolute;
	top: 170px;
	left: 30px;
}

.content2  .map-box .map4 {
	position: absolute;
	top: 180px;
	right: 200px;
}

.content2  .map-box .map5 {
	position: absolute;
	top: 280px;
	right: 130px;
}

.content2  .map-box .map6 {
	position: absolute;
	bottom: 220px;
	right: 90px;
}

.content2  .map-box .map7 {
	position: absolute;
	top: 210px;
	left:280px;
}

.content2  .map-box .map8 {
	position: absolute;
	top: 200px;
	right: 260px;
}

/*///////////////////////*/

.mapWrap {
	width: 50%;
	height: 100%;
	display: none;
	float: left;
	position: relative;
}

.mapWrap .natname {
	font-size: 70px;
	font-weight: bolder;
	color: rgba(255,255,255,0.5);
	line-height: 0.9;
	position: absolute;
	z-index: 100;
}

/*///// nationl name /////*/

#map1 .natname {
	right: 130px;
	top: 200px;
}

#map2 .natname {
	right: 60px;
	top: 220px;
}

#map3 .natname {
	right: 0px;
	bottom: 100px;
	font-size: 130px;
}

#map4 .natname {
	right: 30px;
	top: 250px;
}

#map5 .natname {
	right: 0px;
	bottom: 100px;
	font-size: 60px;
	text-align: right;
}

#map6 .natname {
	right: 0px;
	top: 170px;
	font-size: 50px;
}

#map7 .natname {
	right: 100px;
	top: 230px;
}

#map8 .natname {
	right: 0px;
	bottom: 300px;
	font-size: 110px;
}

/*/////////////////////*/

.mapWrap .natexp {
	margin-left: 30px;
	color: #333;
}

#map5 p {
	width: 40%;
}

#map2 .natexp {
	margin-left: 95px;
}

#map4 .natexp {
	margin-left: 95px;
}

#map5 .natexp {
	margin-left: -5px;
}

#map6 .natexp {
	margin-left: -5px;
}

#map8 .natexp {
	margin-left: 75px;
}

.mapWrap h2 {
	margin: 20px 0;
	font-size: 17px;
	font-weight: bolder;
	color: #333;
}

.mapWrap span {
	margin-bottom: 20px;
	display: block;
	width: 40px;
	height: 2px;
	background-color: #333;
}

.mapWrap p {
	width: 50%;
	text-align: justify;
	font-size: 13px;
	line-height: 1.6;
	margin-bottom: 20px;
	color: #333;
}

.resBtn {
	width: 100px;
	height: 30px;
	border: 0.8px solid #000;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.resBtn a {
	display: block;
	font-size: 12px;
	line-height: 30px;
	color: #333;
	transition: all .5s ease;
	z-index: 2;
	position: relative;
}

.resBtn .eff {
	width: 100px;
	height: 30px;
	top: 0;
	left: -100px;
	background: linear-gradient(to right,#c0954b,#e7bd74);
	position: absolute;
	transition: all .5s ease;
	z-index: 1;
}

.resBtn:hover .eff {
	top: 0;
	left: 0;
}

.resBtn:hover a {
	color: #fff;
}

.resBtn:hover {
	border-style: solid;
    border-image: linear-gradient(to right, #c0954b 0%, #e7bd74 100%);
	border-image-slice: 1;
	border-image-width: 1px;
}

/*/////////national img position///////////*/

.mapWrap .natimg1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

.mapWrap .natimg2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

#map1 .natimg1 {
	width: 357px;
	height: 300px;
	background-image: url(../img/la1.jpg);
	right: 0;
	bottom: 0;
}

#map2 .natimg1 {
	width: 500px;
	height: 300px;
	background-image: url(../img/ca.jpg);
	right: 0;
	bottom: 30px;
}

#map3 .natimg1 {
	width: 250px;
	height: 300px;
	background-image: url(../img/al-1.jpg);
	right: 0;
	top: 0;
}

#map3 .natimg2 {
	width: 250px;
	height: 350px;
	background-image: url(../img/al-2.jpg);
	left: 30px;
	bottom: 0;
}

#map4 .natimg1 {
	width: 500px;
	height: 300px;
	background-image: url(../img/ru.jpg);
	right: 0;
	bottom: 0;
}

#map5 .natimg1 {
	width: 300px;
	height: 300px;
	background-image: url(../img/ea.jpg);
	right: 0;
	top: 0;
}

#map5 .natimg2 {
	width: 300px;
	height: 300px;
	background-image: url(../img/ea2.jpg);
	left: 0;
	bottom: 0;
}

#map6 .natimg1 {
	width: 300px;
	height: 300px;
	background-image: url(../img/au1.jpg);
	right: 0;
	bottom: 0;
}

#map6 .natimg2 {
	width: 300px;
	height: 300px;
	background-image: url(../img/au2.jpg);
	left: 0;
	bottom: 0;
}

#map7 .natimg1 {
	width: 250px;
	height: 250px;
	background-image: url(../img/tm.jpg);
	right: 0;
	bottom: 0;
}

#map7 .natimg2 {
	width: 250px;
	height: 250px;
	background-image: url(../img/tm2.jpg);
	right: 180px;
	bottom: 180px;
}

#map8 .natimg1 {
	width: 450px;
	height: 250px;
	background-image: url(../img/eu.jpg);
	bottom: 0;
	left: 80px;
}

/*//////////////////////*/

/*지도 display:block*/

#LA:checked ~ .allWrap #map1 {
	display: block;
}

#CA:checked ~ .allWrap #map2{
	display: block;
}

#AL:checked ~ .allWrap #map3 {
	display: block;
}

#RU:checked ~ .allWrap #map4 {
	display: block;
}

#EA:checked ~ .allWrap #map5 {
	display: block;
}

#AU:checked ~ .allWrap #map6 {
	display: block;
}

#TM:checked ~ .allWrap #map7 {
	display: block;
}

#EU:checked ~ .allWrap #map8 {
	display: block;
}

/*/////////////////////////////*/

/*국가 text color */

#LA:checked ~ .allWrap .map1 {
	color: #d66;
	opacity: 1;
}

#CA:checked ~ .allWrap .map2{
	color: #d66;
	opacity: 1;
}

#AL:checked ~ .allWrap .map3 {
	color: #d66;
	opacity: 1;
}

#RU:checked ~ .allWrap .map4 {
	color: #d66;
	opacity: 1;
}

#EA:checked ~ .allWrap .map5 {
	color: #d66;
	opacity: 1;
}

#AU:checked ~ .allWrap .map6 {
	color: #d66;
	opacity: 1;
}

#TM:checked ~ .allWrap .map7 {
	color: #d66;
	opacity: 1;
}

#EU:checked ~ .allWrap .map8 {
	color: #d66;
	opacity: 1;
}


/*//////////////////////////////////////////////////*/

/*content3//////////////////////////////////////////*/

.content3 {
	clear: both;
	background: #f9f9f9;
}

.content3 .wrap {
	padding: 50px 0;
}

.ra-contents {
	display: none;	
}

.button-box {
	clear: both;
	width: 100%;
	text-align: center;
	height: 50px;
	margin: 0 auto;
}

.button-box label {
	color: #333;
	margin-top: 30px;
	cursor: pointer;
	display: block;
	width: 20%;
	height: 50px;
	font-size: 15px;
	background: #fff;
	border: 0.5px solid #eee;
	border-bottom: none;
	border-left: none;
	float: left;
	line-height: 50px;
	box-sizing: border-box;
}

.button-box label:nth-child(1) {
	border-left: 0.5px solid #eee;
}

.allWrap {
	clear: both;
	width: 100%;
	height: 600px;
	margin: 0 auto;
}

.imgWrap {
	width: 100%;
	height: 100%;
	clear: both;
	display: none;
	box-sizing: border-box;
}

.bigImg {
	width: 50%;
	height: 100%;
	float: left;
}

.bigImg > img {
	display: block;
	width: 100%;
	height: 100%;
}

.midImg {
	clear: both;
	width: 100%;
	height: 50%;
}

.content3 .textBox {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
}

.content3 .t-bg1 {
	background-color: #6ca8bc;
}

.content3 .t-bg2 {
	background-color: #f1987d;
}

.content3 .t-bg3 {
	background-color: #1995ad;
}

.content3 .t-bg4 {
	background-color: #ac2a39;
}

.content3 .t-bg5 {
	background-color: #323232;
}

.textBox .title {
	font-size: 20px;
	padding-top: 60px;
	color: #fff;
}

.textBox .comment {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	font-size: 14px;
	color: #fff;
}

.textBox .more {
	color: #fff;
	margin: 10px auto;
	cursor: pointer;
	display: block;
}

/*line Ani*/

.lineAni {
	width: 92%;
	height: 280px;
	position: absolute;
	left: 4%;
	top: 10px;
	transition: 0.5s;
}

.lineFrame {
	width: 100%;
	height: 100%;
	position: relative;
}

.lineAni span {
	display: block;
	background: #fff;
	position: absolute;
	transition: 0.6s;
}

.top {
	width: 0;
	height: 1px;
	left: 0;
	top: 0;
	opacity: 0;
}

.bottom {
	width: 0;
	height: 1px;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.left {
	width: 1px;
	height: 0;
	left: 0;
	top: 0;
	opacity: 0;
}

.right {
	width: 1px;
	height: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.textBox:hover .top {
	width: 100%;
	opacity: 1;
}

.textBox:hover .bottom {
	width: 100%;
	opacity: 1;
}

.textBox:hover .left {
	height: 100%;
	opacity: 1;
}

.textBox:hover .right {
	height: 100%;
	opacity: 1;
}

/*/////////*/

#ra1:checked ~ .allWrap #tab1 {
	display: block;
}

#ra2:checked ~ .allWrap #tab2 {
	display: block;
}

#ra3:checked ~ .allWrap #tab3 {
	display: block;
}

#ra4:checked ~ .allWrap #tab4 {
	display: block;
}

#ra5:checked ~ .allWrap #tab5 {
	display: block;
}

#ra1:checked ~ .button-box .btn1 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra2:checked ~ .button-box .btn2 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra3:checked ~ .button-box .btn3 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra4:checked ~ .button-box .btn4 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

#ra5:checked ~ .button-box .btn5 {
	background: linear-gradient(to right,#c0954b,#e7bd74);
	color: #fff;
}

/*////////////////////////////////////////////////////////*/

/* content4 //////////////////////////////////////////////*/
.content4 {
	margin: 50px 0;
	width: 100%;
	height: 500px;
}

.galWrap {
	width: 100%;
	height: 500px;
}

.gallery {
	width: 25%;
	height: 250px;
	float: left;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	transition: 0.5s;
}

.gallery1 {
	background-image: url(../img/gal1.jpg);
}

.gallery2 {
	background-image: url(../img/gal7.jpg);
}

.gallery3 {
	background-image: url(../img/gal4.jpg);
}

.gallery4 {
	background-image: url(../img/gal5.jpg);
}

.gallery5 {
	background-image: url(../img/gal3.jpg);
}

.gallery6 {
	background-image: url(../img/gal6.jpg);
}

.gallery7 {
	background-image: url(../img/gal2.jpg);
}

.galleryText {
	background-color: #fff;
}

.galText {
	position: relative;
}

.galText img {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	transition: .3s;
}

.galText img:hover {
	transform: rotate(180deg);

}

.gallery:hover {
	background-size: 105% 105%;
}

/*//////////////////////////////////////////////////////////////*/

/*/////////////footer//////////////////////*/

footer {
	background-color: #333;
	color: #fff;
}

.ftRes {
	padding: 60px 0;
}

.ftRes p {
	margin-bottom: 30px;
}

.ftRes ul li {
	float: left;
	margin: 0 15px;
}

.ftRes ul li:nth-child(1) {
	margin-left: 0px;
}

.ftRes ul li a {
	color: #fff;
	font-size: 14px;
}

.ftRes .gold {
	color: gold;
}

/*//////////////////////////////////////////*/

/*//////////////////toggle button//////////*/

.btnWrap {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	display: none;/*//////////////////////mobile에서 block*/
}

.btnWrap {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.btnWrap .btn {
	height: 2px;
	background-color: #333;
	transition: 0.2s;
}

.btnWrap .btn:nth-child(1) {
	width: 100%;
}

.btnWrap .btn:nth-child(2) {
	width: 60%;
	margin: 8px 0;
}

.btnWrap .btn:nth-child(3) {
	width: 80%;
}

.btnWrap:hover .btn {
	width: 100%;
}

#gnbMo {
	width: 50%;
	height: 100%;
	background: #fff;
	position: fixed;
	left: 0px;
	top: 0;
	z-index: 500;
	display: none; 
	overflow: hidden;
	box-shadow: 3px 0 15px rgba(100,100,100,0.5);
}

#gnbMo .btnWrap2 {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30px;
	right: 20px;
	z-index: 600;
	cursor: pointer;
}

.btnWrap2 div {
	width: 25px;
	height: 1px;
	background: #333;
}

.btnWrap2 div:first-child{
	transform: rotate(45deg) translateY(1px);
}

.btnWrap2 div:last-child{
	transform: rotate(-45deg);
}

#gnbMo .logo {
	top: 100px;
}

#gnbMo .hdMo {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.hdMo li {
	float: left;
	margin-left: 10px;
}

.hdMo li a {
	font-size: 14px;
	text-align: center;
	color: #333;
}

.hdMo li a span {
	margin-left: 10px;
}

.navMo {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.navMo li a {
	font-size: 15px;
	font-weight: bold;
	line-height: 50px;
}

#toggle1:checked ~ #gnbMo {
	display: block;
}

#toggle2:checked ~ #gnbMo {
	display: none;
}

.none {
	display: none;
}

/*//////////////////////////////////////////*/
