
@media screen and (max-width: 767px) {
	
	.gnb {
		display: none;
	}

	.button-wrapper {
		visibility: visible;
	}

	.swiper-button-next {
		display: none;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-slide h1 {
		font-size: .8em;
	}

	.swiper-slide p {
		width: 90%;
		margin: 0 auto;
	}

	.con_A .swiper-container {
		height: 80vh;
	}

	header {
		height: 60px;
		position: fixed;
	}

	header .wrap .logo {
		font-weight: bolder;
	}

	.wrap {
		height: 60px;
	}

	.button-wrapper {
		top: 17px;
	}

	.wrap .logo {
		padding-top: 10px;
		width: 45px;
	}

/*	.button-wrapper:active .side-wrapper {
		display: block;
	}*/

	.con_A h2 {
		font-size: 10vw;
		opacity: 1;
	}

	.con_A p {
		font-size: 5vw;
	}

	.con_A .text-small {
		margin-top: 20px;
		font-size: 3vw;
		font-weight: lighter;
		letter-spacing: 1.2px;
	}
	.parallax .ex-wrapper{
		height: 10%;
	}

	.con_B article:nth-child(1) {
		width: 100%;
	}

	.con_B article:nth-child(2) {
		width: 100%;
	}

	.con_B article:nth-child(3) {
		width: 100%;
	}

	.con_B article:nth-child(4) {
		width: 100%;
	}

	.con_B article:nth-child(5) {
		width: 100%;
	}
}