@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (max-width: 767px) {
	body {
		font-family: 'Roboto', sans-serif;
	}

	.gnb {
		display: none;
	}

	.button-wrapper {
		visibility: visible;
	}

	.swiper-button-next {
		display: none;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-slide h1 {
		font-size: .8em;
	}

	.swiper-slide p {
		width: 90%;
		margin: 0 auto;
	}

	.con_A .swiper-container {
		height: 80vh;
	}

	header {
		height: 60px;
		position: fixed;
	}

	header .wrap .logo {
		font-weight: bolder;
	}

	.wrap {
		height: 60px;
	}

	.button-wrapper {
		top: 17px;
	}

	.wrap .logo {
		padding-top: 20px;
		width: 45px;
	}

/*	.button-wrapper:active .side-wrapper {
		display: block;
	}*/
}