@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (max-width: 767px) {
	body {
		font-family: 'Roboto', sans-serif;
	}

	.gnb {
		display: none;
	}

	.button-wrapper {
		visibility: visible;
	}

	.swiper-button-next {
		display: none;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-slide h1 {
		font-size: .8em;
	}

	.swiper-slide p {
		width: 90%;
		margin: 0 auto;
	}

	.con_A .swiper-container {
		height: 60vh;
	}

	header {
		position: relative;
		height: 80px;
	}

	.wrap {
		height: 80px;
	}

	.logo {
		color: #000;
	}
	
	.button-wrapper {
		top: 25px;
	}

	.nav div {
		background-color: #000;
	}
}