
* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  height: 100%;
  font-family: 'Nanum Gothic', 'Montserrat', sans-serif;
  /*font-weight: lighter;*/
 }
body {
  width: 100%;
  font-size: 14px;
  color:#000;
}

ul,ol,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  -webkit-user-select: none;
}
article {
  height: 260px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}
.wrap .logo {
  width: 55px;
  cursor: pointer;
  margin-top: 20px;
}
.wrap .logo:hover .st4, .wrap .logo:active .st5{
  fill: #B7444A;
}

/*.gnb {
  margin-right: 3.5em;
}*/
.gnb ul {
  display: flex;
}
.gnb ul a {
  font-size: 12px;
  margin-left: 50px;
  transition: .2s;
}
.gnb ul a:hover {
  font-weight: bold;
  color: #B7444A;
  padding-bottom: 3px;
  border-bottom: 2.5px solid #B7444A;
}
/*.logo {
  margin-left: 2em;
}*/
.button-wrapper {
  visibility: hidden;
  position: fixed;
  top: 50px;
  right: 1.5em;
  z-index: 100;
}
.button-wrapper .btn_nav {
  display: block;
  width: 40px;
}
.button-wrapper .btn_nav div {
  height: 2.5px;
  background: #fff;
  margin: 5px 0;
  border-radius: 40px;
  transition: .1s;
}
.btn_one {
  width: 25px;
}
.btn_two {
  width: 15px;
}
.btn_three {
  width: 20px;
}
.button-wrapper .btn_nav:hover div {
  width: 30px;
}
.button-wrapper .btn_nav:active .btn_two {
  width: 0px;
}
.button-wrapper .btn_nav:active .btn_one {
  transform: rotate(45deg) translate(11px);
}
.button-wrapper .btn_nav:active .btn_three {
  transform: rotate(-45deg) translate(11px);
}

.con_A {
  color: #fff;
}
.con_A .swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.con_A .swiper-slide {
 /* text-align: center;  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-user-select: none;
  flex-wrap: wrap;*/
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.con_A .swiper-slide .text-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  /*text-shadow: 1px 1px 1px #EDEDED;*/
}
.con_A h2 {
  display: inline;
  font-family: 'Muli', sans-serif;
  /*letter-spacing: 1px;*/
  font-size: 6vw;
  opacity: 1;
  border-bottom: .2px solid #fff;
  padding: 10px 30px;
  font-weight: lighter;
}
.con_A p {
  font-size: 2.5vw;
  /*text-shadow: 1px 1px 2px gray;*/
}
.con_A .text-small {
  margin-top: 30px;
  font-size: 1.3vw;
  font-weight: lighter;
  letter-spacing: 3px;
}
.con_A .one {
  background-image: url(../image/img3.jpg);
}
.con_A .two {
  background-image: url(../image/img2.jpg);
}
.con_A .three {
  background-image: url(../image/img1.jpg);
}
.swiper-button-next {
  margin: 0 1em;
}
.swiper-button-prev {
  margin: 0 1em;
}

.con_B {
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  color: #000;
  text-align: center;
}
.con_B h2 {
  margin: 30px auto;
}
.con_B .article-wrap {
  width: 90%;
  margin: 0 auto;
}
.con_B article {
  float: left;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .9s;
}
.con_B article:nth-child(1) {
  width: 30%;
  background-image: url(../image/light4.jpg);
}
.con_B article:nth-child(2) {
  width: 40%;
  background-image: url(../image/light2.jpg);
}
.con_B article:nth-child(3) {
  width: 30%;
  background-image: url(../image/light3.jpg);
}
.con_B article:nth-child(4) {
  width: 50%;
  background-image: url(../image/light1.jpg);
}
.con_B article:nth-child(5) {
  width: 50%;
  background-image: url(../image/light5.jpg);
}
.con_B article:hover {
  mix-blend-mode: color;
  opacity: .5;
}

.con_C {
  width: 100%;
 /* height: 100vh;*/
}
.con_C .parallax {
  background-image: url(../image/img4.jpg);
  width: 100%;
  height: auto;
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.con_C .parallax p {
  text-align: center;
  font-size: 3em;
  color: #fff;
}
.con_C .parallax {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.con_C .parallax .ex-wrapper {
  width: 100%;
  /*height: 100%;*/
}
.ex-wrapper {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.ex-wrapper div {
  flex: 1;
  background-color: #fff;
  opacity: .3;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 300px;
  transition: .5s;
}
.ex-wrapper div:hover {
  opacity: .8;
}

footer {
  width: 100%;
  height: 250px;
}

.foot_wrap {

  width: 90%;
  margin: 30px auto;
  border-top: 1px solid #ccc;
}

.foot_wrap h1 {
  margin-top: 1.5em;
}
.foot_wrap p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
